
// NBM Colour Variables
	
/* Band Palette

#92278f

*/

$background-color: 				#FFF; // 
$foreground-color:				#999; // 
$background: 					#FFF;
$white:							#FFF;
$black:							#000;

$brand-color:					#92278f; // Stiles Purple
$brand-color-contrast:			#FFFFFF; // White
$brand-color-keline:			#92278f; // AP Red

$complimentary-color:			#5B6693; // Lilac
$complimentary-color-contrast:	#5B6693;

$primary-color: 				#92278f; //
$primary-color-hover:			#92278f;
$default-color: 				#8fa4b1;
$default-color-hover:			#8fa4b1;

//** Background color for `<body>`.
$body-bg:               		#F3F1DD !default;

//Buttons
$btn-default-border:			#8fa4b1;
$btn-default-color: 			#8fa4b1;


/*$primary-color:;
$success-color:;
$info-color:;
$warning-color:;*/
$danger-color:					#d9534f;
								

//Variable for brand specific assests
$get-path-to-assets : "images/";

$input-group-addon: 			#00acee;

// TODO: From _variables.scss
// ## Gray and brand colors for use across Bootstrap.

$gray-base:              #666666 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         darken(#92278f, 6.5%) !default; // 
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;


// Brand Tints
$brandCol-base:              #92278f !default;
$brandCol-darkest:			 darken($brandCol-base, 30%) !default; // #
$brandCol-darker:            darken($brandCol-base, 20%) !default; // #
$brandCol-dark:              darken($brandCol-base, 13.5%) !default;   // #
$brandCol-light:             lighten($brandCol-base, 15%) !default; // #
$brandCol-lighter:           lighten($brandCol-base, 33.5%) !default; // #
$brandCol-lightest:          lighten($brandCol-base, 40%) !default; // #

// Complimentary Tints
$brandComp-base:              #8098A6 !default;
$brandComp-darkest:			  darken($brandComp-base, 15%) !default; // #
$brandComp-darker:            darken($brandComp-base, 10%) !default; // #
$brandComp-dark:              darken($brandComp-base, 5%) !default;   // #
$brandComp-light:             lighten($brandComp-base, 5%) !default; // #
$brandComp-lighter:           lighten($brandComp-base, 15%) !default; // #
$brandComp-lightest:          lighten($brandComp-base, 30%) !default; 


//Typography Variable 
$font-family-headings: 			'Lato', sans-serif;
$font-family-body: 				'Lato', sans-serif;
$font-size-base:          		16px !default;
$default-paragraph-size:		1.8rem;


//Source Serif Pro
//cardo
//Droid Serif
//Roboto Slab
//Merriweather

// Form Settings
$default-border-radius: 	6px;
$input-height: 				64px;
$input-padding:				30px 15px;
$input-border-width:		2px;
$btn-padding:				20px 24px;
$input-bg:					rgba(90,114,128,0.1);
$input-border:				2px solid #8fa4b1;



