
// AP Colour Variables
	
/* Band Palette

RGB Breakdown:
Dark Blue: RGB – 00, 36, 88
Light Blue: RGB – 91, 102, 147
Red: RGB – 201, 1, 30

WEB
Dark Blue: 002458
Light Blue: 5B6693
Red: C9011E

.black { color: #000000}
.color2 { color: #e9ecf1}
.color3 { color: #00205b}
.color4 { color: #ffffff}
.color5 { color: #556293}
.color6 { color: #01215c}
.color7 { color: #6a75a0}
.color8 { color: #ce1924}
.color9 { color: #536091}
.color10 { color: #4f658e}


*/
$background-color: 				#FFF; // 
$foreground-color:				#999; // 
$background: 					#FFF;

$brand-color:					#002458; // AP Blue
$brand-color-contrast:			#000000; // Black
$brand-color-keline:			#C9011E; // AP Red

$complimentary-color:			#5B6693; // Lilac
$complimentary-color-contrast:	#5B6693;

$primary-color: 				#5B6693; //
$primary-color-hover:			#969ebe;
$default-color: 				#EAEAEA;
$default-color-hover:			#666;

//** Background color for `<body>`.
$body-bg:               		#F3F1DD !default;

//Buttons
$btn-default-border:			#CCC;
$btn-default-color: 			#999999;



/*$primary-color:;
$success-color:;
$info-color:;
$warning-color:;*/
$danger-color:					#d9534f;
								

//Variable for brand specific assests
$get-path-to-assets : "images/";

$input-group-addon: 			#00acee;


// TODO: From _variables.scss
// ## Gray and brand colors for use across Bootstrap.

$gray-base:              #666666 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         darken(#002458, 6.5%) !default; // 
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;


// Lilac Tints
$brandCol-base:              #5B6693 !default;
$brandCol-darkest:			  darken($brandCol-base, 33.5%) !default; // #5b6693
$brandCol-darker:            darken($brandCol-base, 20%) !default; // #828bb1
$brandCol-dark:              darken($brandCol-base, 13.5%) !default;   // #969ebe
$brandCol-light:             lighten($brandCol-base, 20%) !default; // #969ebe
$brandCol-lighter:           lighten($brandCol-base, 33.5%) !default; // #
$brandCol-lightest:          lighten($brandCol-base, 50%) !default; // #

// Blue Tints
$brandComp-base:              #002458 !default;
$brandComp-darkest:			 darken($brandComp-base, 15%) !default; // #5b6693
$brandComp-darker:            darken($brandComp-base, 10%) !default; // #828bb1
$brandComp-dark:              darken($brandComp-base, 5%) !default;   // #969ebe
$brandComp-light:             lighten($brandComp-base, 5%) !default; // #eaecf2
$brandComp-lighter:           lighten($brandComp-base, 10%) !default; // #
$brandComp-lightest:          lighten($brandComp-base, 15%) !default; 


//Typography Variable 
$font-family-headings: 'Lato', sans-serif;
$font-family-body: 'Lato', sans-serif;

//Source Serif Pro
//cardo
//Droid Serif
//Roboto Slab
//Merriweather

$default-border-radius: 0px;

