<div class="row brandRow">
  <div class="container text-center">
     <h1>About us</h1>

            <p class="lead">New Brand Media is a strategic multichannel agency, specialising in digital. We offer a full, integrated, end-to-end service from conception to delivery.
            Our structure is designed to manage your brand experience across the multiple channels that make up today’s landscape.</p>

          <div class="justPad">
            <div class="col-xs-4">
              <i class="icon-window i5x"></i>
              <h4>Web</h4>
            </div>

            <div class="col-xs-4">
              <i class="icon-mobile i5x"></i>
              <h4>Mobile</h4>
            </div>

            <div class="col-xs-4">
              <i class="icon-link i5x"></i>
              <h4>Social</h4>
            </div>
          </div>

  </div>
</div>



<div class="row brandComp-lightest">
  <div class="container text-center">
            <h2>Our Approach</h2>
            <p>Our <a href="/expertise/user-experience-design-ux/" title="User Experience Design (UX)">User-Centred Design approach</a> is the result of over a decade of design &amp; development for some of the world’s leading brands.</p>
          <div class="row">
            <div class="col-sm-3"><p><a href="/portfolio/"><img src="/wp-content/uploads/2014/02/bbc.png" alt="BBC" width="253" height="150" class="aligncenter size-full wp-image-3453" /></a></p>
            </div> 

            <div class="col-sm-3"><p><a href="/portfolio/hp-invent/176/"><img src="/wp-content/uploads/2014/02/about-page-icons_hp.png" alt="HP" width="144" height="155" class="aligncenter size-full wp-image-3453" /></a></p>
            </div> 

            <div class="col-sm-3"><p><a href="/portfolio/mcdonalds/2263/"><img src="/wp-content/uploads/2014/02/about-page-icons_mcdo.png" alt="McDonald's" width="165" height="155" class="aligncenter size-full wp-image-3453" /></a></p>
            </div> 

            <div class="col-sm-3"><p><a href="/portfolio/"><img src="/wp-content/uploads/2014/02/sony-logo.png" alt="Sony" width="229" height="150" class="aligncenter size-full wp-image-3453" /></a></p>
            </div>
          </div>   
            <div class="row justPad">
              <p class="text-center"><a class="btn btn-primary btn-lg" href="/expertise/user-experience-design-ux/" title="User Experience Design (UX)">More about our approach</a></p>
            </div>


  </div>
</div>

<div class="row brandRow">
  <div class="container text-center">
            <h2>What we do</h2>
            <p>We bring 20 years experience, working with some of the world's leading brands and branding agencies. We understand brands and how to ensure your advantage and values shine through all aspects of today’s digital customer experience.</p>

          <div class="row justPad">
            <div class="col-sm-3">
            <a class="no-underline" href="/expertise/"><i class="icon-target i5x" alt="Brand Development"></i></a>
            <a class="no-underline" href="/expertise/"><h4>Brand Development</h4></a>
            </div> 

            <div class="col-sm-3"><a href="/expertise/user-experience-design-ux/"><i class="icon-ux i5x" alt="Brand Development"></i></a>
            <h4><a class="no-underline" href="/expertise/">User Experience Design</a></h4>
            </div> 

            <div class="col-sm-3"><a href="/expertise/"> <i class="icon-code i5x" alt="Brand Development"></i></a>
            <h4><a class="no-underline" href="/expertise/">Development</a></h4>
            </div> 

            <div class="col-sm-3"><a href="/expertise/">  <i class="icon-link i5x" alt="Social Media"></i></i></a>
            <h4><a class="no-underline" href="/expertise/">Social Media</a></h4>
            </div>
          </div>  
  </div>
</div>


<div class="row brandComp-darkest">
  <div class="container text-center">
            <h2>Principal Consultants</h2>
            <p>Our principal consultants are a hand-picked team of digital veterans, all with over 15 years experience. We ‘grew up’ together as the internet evolved through the teething pains, booms and busts but we’ve been there from the start and like to think we’ve learned a lot on the way.</p>

            <div class="col-sm-3"><p><a href="/about/principals/jonathan-porter-creative-director/"><img src="/wp-content/uploads/2014/02/jonathan-porter-creative-director.png" alt="Jonathan Porter - Creative Director / Head of UX" width="150" height="150" class="aligncenter size-full wp-image-3453" /></a></p>
            <h4><a href="/about/principals/jonathan-porter-creative-director/" title="Jonathan Porter Creative Director">Jonathan Porter<br/>Creative Director &amp; Head of UX</a></h4>
            </div> 

            <div class="col-sm-3"><p><a href="/about/principals/mathias-dietrich-head-of-mobile/"><img src="/wp-content/uploads/2014/02/principal_no-text.png" alt="User Experience Design (UX)" width="150" height="150" class="aligncenter size-full wp-image-3453" /></a></p>
            <h4><a href="/about/principals/mathias-dietrich-head-of-mobile/">Mathias<br/>Head of Mobile &amp; Testing</a></h4>
            </div> 

            <div class="col-sm-3"><p><a href="/about/principals/john-stevens/"><img src="/wp-content/uploads/2014/02/principal_041.png" alt="John Stevens" width="150" height="150" class="aligncenter size-full wp-image-3453" /></a></p>
            <h4><a href="/about/principals/john-stevens/">John<br/>Head of Strategy  &amp; Research</a></h4>
            </div> 

            <div class="col-sm-3"><p><a href="/about/principals/trevor-ginn/"><img src="/wp-content/uploads/2014/02/principal_042.png" alt="Social Media" width="150" height="150" class="aligncenter size-full wp-image-3453" /></a></p>
            <h4><a href="/about/principals/trevor-ginn/">Trevor<br/>Head of Search &amp; Social Media</a></h4>
            </div>

            </div>

  </div>
</div>
