

<div class="row">
		<div class="col-md-3 lilac-darkest" style=" height:300px;">
			<p class="text-center">lilac-darkest</p>
		</div>

		<div class="col-md-3 lilac-darker" style=" height:300px;">
			<p class="text-center">lilac-darker</p>
		</div>

		<div class="col-md-3 lilac-dark" style=" height:300px;">
			<p class="text-center">lilac-dark</p>
		</div>

		<div class="col-md-3 lilac" style="height:300px;">
			<p class="text-center">lilac</p>
		</div>

		<div class="col-md-3 lilac-light" style="height:300px;">
			<p class="text-center">lilac-light</p>
		</div>

		<div class="col-md-3 lilac-lighter" style="height:300px;">
			<p class="text-center">lilac-lighter</p>
		</div>

		<div class="col-md-3 lilac-lightest" style="height:300px;">
			<p class="text-center">lilac-lightest</p>
		</div>
</div>

<div class="row">

	<h2>Blue</h2>
	<div class="col-md-3 blue-darkest" style=" height:300px;">
		<p class="text-center">blue-darkest</p>
	</div>

	<div class="col-md-3 blue-darker" style=" height:300px;">
		<p class="text-center">blue-darker</p>
	</div>

	<div class="col-md-3 blue-dark" style=" height:300px;">
		<p class="text-center">blue-dark</p>
	</div>

	<div class="col-md-3 blue" style="height:300px;">
		<p class="text-center">blue</p>
	</div>

	<div class="col-md-3 blue-light" style="height:300px;">
		<p class="text-center">blue-light</p>
	</div>

	<div class="col-md-3 blue-lighter" style="height:300px;">
		<p class="text-center">blue-lighter</p>
	</div>

	<div class="col-md-3 blue-lightest" style="height:300px;">
		<p class="text-center">blue-lightest</p>
	</div>

</div>

