<div class="row">

	<div id="title" class="parallaxSlide parallaxSlideHeader negative">

		<div class="enableLinks">
							<h1>Contact</h1>
							<p class="lead">Dial <a href="Skype:newbrandmedia?call">+44 20 7100 3891</a> now or drop us an <a href="#email">email</a> using the form below.</p>
							
				<div class="row justPad">
					<div class="col-md-4">
							<a class="iconfont" href="#parallaxSlide3" title="Get directions to New Brand Media on Google maps"><i class="icon-location-pin i5x"></i></a>
						<div class="justPad">							
							<p><strong>New Brand Media Ltd</strong><br>
							Dashwood House<br>
							69 Old Broad Street<br>
							London EC2M 1QS<br>
							United Kingdom</p>
						</div>	
					</div>			

					<div class="col-md-4">
						
							<a  class="iconfont" href="callto:+442071003891"><i class="icon-mobile i5x" alt="Get Directions"></i></a>
						<div class="justPad">
							<p>T: <a href="callto:+442071003891">+44 20 7100 3891</a><br>
							F: <a href="callto:+447053498701">+44 70 5349 8701</a><br>
							S: <a class="url" href="skype:newbrandmedia?call" title="Skpe us now?" >newbrandmedia</a></p>
						</div>
					</div>

					<div class="col-md-4">
						<a class="iconfont" href="/wp-content/themes/sassy-newbrandmedia-bootstrap/images/New-Brand-Media-Ltd.vcf"><i class="icon-cloud-download i5x"></i></a>
						<div class="justPad">
							<p>Download our contacts to your address book:</p>
							<p><a class="text" href="/wp-content/themes/shaken-grid-theme-child-theme/images/New-Brand-Media-Ltd.vcf">vCard Contact File</a></p>
						</div>	
					</div>


				
				</div>



		</div>
	<div class="enableLinks text-center justPad">
		<a href="#parallaxSlide2"><i class="icon-carret-down i5x scrollDownBtn"></i></a>
	</div>

	</div>


</div>

<a id="email"></a>
<a id="parallaxSlide2"></a>
<div class="row positive">
	<div class="container">
	 
	<h2>Drop us an email</h2>

	<div class="col-md-12 justPad">
			[gravityform id=1 title=false description=false ajax=true]
	</div>

	</div>
</div>					



<div id="parallaxSlide3" class="row mapoverlay">
<a id="directions"></a>
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2482.802569432842!2d-0.082937!3d51.516838!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761cad650f0c7d%3A0xce9469251c25fe93!2sNew+Brand+Media+Ltd!5e0!3m2!1sen!2suk!4v1411051580336" width="100%" height="595" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
</div>


