<div class="row brandRow">

  <div class="container">
    <h1>Our Expertise</h1>


  </div>
</div>





<div class="row brandRow">

  <div class="container">

  <h2>Brand Development</h2>
  <p class="lead">New Brand Media provide a complete range of strategic brand consulting and creative design services:</p>

        <div class="row justPad">
          <div class="col-md-4">
          <i class="icon-target i5x"></i>
            <h3>Strategy</h3>

           <div class="justPad"> 
            <p>Customer Profiling</p>
            <p>Brand Definition Workshops</p>
            <p>Implementation Strategy</p>
           </div> 
          </div>

          <div class="col-md-4">
            <i class="icon-lighbulb i5x"></i>
            <div class="justPad"> 
              <h3>Creative</h3>
              <p>Brand Identity Design</p>
              <p>Tone of Voice Development</p>
              <p>Brand Guidelines</p>
            </div>  

          </div>

          <div class="col-md-4">
            <i class="icon-presentation i5x"></i>
            <div class="justPad"> 
              <h3>Marketing &amp; Management</h3>
              <p>Marketing &amp; Sales Promotion</p>
              <p>Print Management</p>
              <p>Brand/Product Launch Planning</p>
              <p>Social Media</p>
            </div>  
          </div>
        </div>
  </div>
</div>




<div class="row brandComp-lightest">
  <div class="container">

    <a title="Read more about our UX approach" href="/expertise/user-experience-design-ux/"><i class="icon-ux-touch i5x"></i></a>
    <h2><a title="Read more about our UX approach" href="/expertise/user-experience-design-ux/">User Experience Design</a></h2>
    <p class="lead">User-centred design lies at the heart of all we do.</p>
    <p>We employ UCD principles to produce usable, pleasurable and optimised digital products for our clients.</p>
    <p>Integrating the following analysis and tools, our ‘Understand, Create, Evaluate’ methodology is engineered to maximise your return on investment.</p>
    
      <div class="justPad">
          <p class="text-left"><a class="btn btn-primary btn-lg" href="/expertise/user-experience-design-ux/">MORE ABOUT OUR UCD APPROACH</a></p>
      </div>

  </div>


</div>



<div class="row brandRow">
  <div class="container">
      <i class="icon-link i5x"></i>

  <h2>Social Media</h2>
    <p>Our first blog, “newbrandmedia” in 2005 was a term we invented to capture what was happening on the blogosphere and stirring in the halls of Harvard University, all of which was to have a profound effect on the relationship between brands and consumers.</p>

    <p>Today, social networks play a powerful role in influencing, changing and validating behaviour. New Brand Media is a new kind of agency, engineered for this social and mobile age to help you to reach your target audience and the key influencers through a mix of insight, data, technology and creative thinking – we will get your brand talked about and shared!</p>

  <div class="justPad">  
    <h3>Key Expertise:</h3>
    <p>Viral Campaign Development</p>
    <p>Social Network Application Development</p>
    <p>Blog Set-up and Design</p>
    <p>Advertising on social networks</p>
    <p>Custom Social Application Development</p>
  </div>

  </div>
</div>


<div class="row brandComp-lightest">
  <div class="container">
      <i class="icon-link i5x"></i>

    
    <h2>Search Engine Optimisation</h2>
    <p>We make technology work for business. We have developed a methodology of ‘Search Engine Optimisation by Design’ that builds SEO into the very ‘fabric’ of a site design.</p>

    <p>From the initial Information Architecture to the final W3C standards compliant code, we focus on creating good quality site content driven by a defined Keyword Strategy and an understanding of your potential customers. Our approach is aligned with our ‘User-Centered Design’ methodology to produce useable, elegant and optimised web sites that deliver real return on investment.</p>

    <div class="justPad">
      <h3>Key Expertise:</h3>
        <p>Website audits</p>
        <p>Keyword analysis</p>
        <p>Optimised content creation</p>
        <p>Link building</p>
        <p>Ongoing website optimisation</p>
    </div>
          
  </div>
</div>
