<div class="row">

  <div id="title" class="parallaxSlide parallaxSlideHeader negative">

    <div class="enableLinks">
              <h1>Welcome</h1>
              <p class="lead">New Brand Media is a digital agency, set up to maximise our clients return on investment through the use of strategic and creative design methodologies.
      We design and deliver web based applications that people <a title="Find out about our User-centred Design approach" href="/expertise/web-design-and-usability/">can</a> and <a title="Find out how generate desire for your brand" href="/expertise/brand-development/">want</a> to use.</p>
    </div>
  <div class="enableLinks text-center justPad">
    <a href="#parallaxSlide2"><i class="icon-carret-down i5x scrollDownBtn"></i></a>
  </div>

  </div>


</div>

<a id="email"></a>
<a id="parallaxSlide2"></a>
<div class="row positive">
  <div class="container">
   
  <h2>Drop us an email</h2>

  <div class="col-md-12 justPad">
  </div>

  </div>
</div>          



<div id="parallaxSlide3" class="row mapoverlay">
<a id="directions"></a>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2482.802569432842!2d-0.082937!3d51.516838!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761cad650f0c7d%3A0xce9469251c25fe93!2sNew+Brand+Media+Ltd!5e0!3m2!1sen!2suk!4v1411051580336" width="100%" height="595" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
</div>


