<div class="row brandRow">
  <div class="container">
    <h1>Jonathan Porter - Creative Director</h1>

    <h3><strong>Expertise</strong>: Art Direction, Branding, UX Design, Usability, Product Development</h3>


  </div>
</div>  




<div class="row justPad">
  <div class="container">

      <div class="col-sm-6">

      <img class="responsive alignleft size-full wp-image-2769 frame" alt=" Jonathan Porter - Creative Director" src="/wp-content/uploads/2007/07/jonathan-porter-creative-director-new-brand-media2.jpg" />

      </div>

      <div class="col-sm-6">
          <p class="lead">Practised in managing multidisciplinary teams, strategic direction and development of an award-winning ‘Customer Experience Design Team’, Jonathan is the author of the New Brand Media’s User-Centred Design methodology and brings an in-depth understanding of the branding, design and technology challenges facing enterprise-level clients today. Equally importantly, the exciting opportunities the connected web is creating for organisations, both large and small.</p>
      </div>


  </div>
</div>  


