<div class="row">
<div id="titleParallax" class="parallaxSlide parallaxSlideHeader brandRow">
<div class="enableLinks">
<h1 class="text-center">We are New Brand Media</h1>
<p class="lead">Our team is focused in the High Volume, High Availability, High Performance, High Throughput, Highly Transactional Enterprise and Open Source environments.</p>

<p>We only deal with <a class="enableLinks" href="http://batresponsive.dev/about/">Technical, Operational and Senior Appointments</a> around the IT environment across many industry sectors.</p>

<a href="/contact" class="text-center btn btn-primary btn-lg">Contact us</a>

<div class="text-center"><a href="#parallaxSlide2"><i class="icon-carret-down i5x scrollDownBtn"></i></a></div>

</div>
</div>


<div id="parallaxSlide1" class="parallaxSlide">
<div class="titleParallax">
<h1>parallaxSlide 1</h1>
<p>We only deal with <a href="http://batresponsive.dev/about/">Technical, Operational and Senior Appointments</a> around the IT environment across many industry sectors.</p>

</div>
</div>
<div id="parallaxSlide2" class="parallaxSlide">
<div class="titleParallax">
<h1>parallaxSlide 2</h1>
<p>We only deal with <a href="http://batresponsive.dev/about/">Technical, Operational and Senior Appointments</a> around the IT environment across many industry sectors.</p>


</div>
<img src="/wp-content/themes/sassy-newbrandmedia-bootstrap/images/parallax/thumb1.jpg" />
<img src="/wp-content/themes/sassy-newbrandmedia-bootstrap/images/parallax/thumb2.jpg" />

</div>
<div id="parallaxSlide3" class="parallaxSlide">
<div class="titleParallax">
<h1>parallaxSlide 3</h1>
<p>We only deal with <a href="http://batresponsive.dev/about/">Technical, Operational and Senior Appointments</a> around the IT environment across many industry sectors.</p>


</div>
</div>
<!--
<div id="parallaxSlide4" class="parallaxSlide parallaxSlideHeader">
<h1>The End</h1>
</div>
-->

</div>