
<form class="form-inline navbar-form navbar-right" method="get" action="/">
  <div class="form-group">
    <label class="sr-only" for="search">Search</label>
    <div class="input-group">
      <input name="s" id="s" type="search" class="form-control input-lg" autocomplete="off" placeholder="Search"><p></p>
	    <div class="input-group-addon" id="mainsearchaddon">
		    <a id="searchAction" class="nounderline" href="#/search" role="button" type="submit" value="Submit"><i class="glyphicon glyphicon-search"></i></a>
	    </div>
    </div>
  </div>
</form>

           <!-- Insert Search bar-->
            <div class="searchbar">
                    <div class="container-fluid">
						<form class="form-inline navbar-form navbar-right" method="get" action="/" >
						  <div class="form-group">
						    <label class="sr-only" for="search">Search</label>
						    	<div class="input-group">
						      		<input name="s" id="s" type="search" class="form-control input-lg" autocomplete="off" placeholder="Search"></p>
				                    <div class="input-group-addon" id="mainsearchaddon"><a id="searchAction" class="nounderline" href="#/search" role="button" type="submit" value="Submit"><i class="glyphicon glyphicon-search"></i></a>
				                    </div>
						    	</div>
						  </div>
						</form>

					<?php //} ?>
                    </div>