
alt attribute should be used to describe the image. So if you have an image of a big blue pineapple chair you should use the alt tag that best describes it, which is alt="big blue pineapple chair."

title attribute should be used when the image is a hyperlink to a specific page. The title attribute should contain information about what will happen when you click on the image. For example, if the image will get larger, it should read something like, title="View a larger version of the big blue pineapple chair image."


alt="User experience agency"


title="Get directions to New Brand Media on Google maps"


<div class="justPad text-center">
  <div class="col-xs-2"><a class="no-underline" href="https://www.linkedin.com/in/newbrandmedia" target="_blank">
  <i class="icon-linkedin i2x"></i>
  </a></div>
  <div class="col-xs-2"><a class="no-underline" href="https://twitter.com/newbrandmedia" target="_blank">
  <i class="icon-twitter i2x"></i>
  </a></div>
  <div class="col-xs-2"><a class="no-underline" href="https://www.facebook.com/newbrandmedia" target="_blank">
  <i class="icon-facebook i2x"></i>
  </a></div>
  <div class="col-xs-2"><a class="no-underline" href="https://plus.google.com/+Newbrandmedialondon" target="_blank">
  <i class="icon-google-plus i2x"></i>
  </a></div>
  <div class="col-xs-2"><a class="no-underline" href="https://bitbucket.org/newbrandmedia/" target="_blank">
  <i class="icon-bitbucket i2x"></i>
  </a></div>
    <div class="col-xs-2"><a class="no-underline" href="http://pinterest.com/newbrandmedia/" target="_blank">
  <i class="icon-pinterest i2x"></i>
  </a></div>
</div>
