

<div class="row positive">
<div class="container">
<h1>Brand Style Guide</h1>
<h3>Heading Three - positiveRow</h3>
<p class="lead">Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing</a> elit, sed diem nonummy nibh euismod tincidunt ut.</p>
Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing</a> elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut aliquip ex ea commodo consequat. Duis te feugi facilisi. Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.

Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.

<div class="justPad">
<div class="row">
  <div class="col-sm-6"><button class="btn btn-primary btn-lg" type="button">Large Primary button</button></div>
  <div class="col-sm-6"><button class="btn btn-default btn-lg" type="button">Large Default button</button></div>
</div>
</div>

<div class="justPad text-center">
  <div class="col-sm-2"><a class="no-underline" href="https://www.linkedin.com/company-beta/2611650" target="_blank">
  <i class="icon-linkedin i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://twitter.com/stilessocial" target="_blank">
  <i class="icon-twitter i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://www.facebook.com/Stiles-Recruitment-222988288126529/" target="_blank">
  <i class="icon-facebook i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://plus.google.com/u/1/107419039579112986073" target="_blank">
  <i class="icon-google-plus i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://github.com/Stilesey" target="_blank">
  <i class="icon-github-alt i5x"></i>
  </a></div>
    <div class="col-sm-2"><a class="no-underline" href="https://github.com/Stilesey" target="_blank">
  <i class="icon-pinterest i5x"></i>
  </a></div>
</div>


</div>
</div>
<div class="row brandRow">
<div class="container">
<h2>Heading Two - brandRow</h2>
<p class="lead">Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing</a> elit, sed diem nonummy nibh euismod tincidunt ut.</p>
Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing</a> elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut aliquip ex ea commodo consequat. Duis te feugi facilisi. Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.

Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.
<div class="justPad">
<div class="row">
  <div class="col-sm-6"><button class="btn btn-primary btn-lg" type="button">Large Primary button</button></div>
  <div class="col-sm-6"><button class="btn btn-default btn-lg" type="button">Large Default button</button></div>
</div>
</div>
<div class="justPad">[gravityform id="1" title="false" description="false" ajax="true"]</div>
<div class="justPad text-center">
  <div class="col-sm-2"><a class="no-underline" href="https://www.linkedin.com/company-beta/2611650" target="_blank">
  <i class="icon-linkedin i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://twitter.com/stilessocial" target="_blank">
  <i class="icon-twitter i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://www.facebook.com/Stiles-Recruitment-222988288126529/" target="_blank">
  <i class="icon-facebook i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://plus.google.com/u/1/107419039579112986073" target="_blank">
  <i class="icon-google-plus i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://github.com/Stilesey" target="_blank">
  <i class="icon-github-alt i5x"></i>
  </a></div>
    <div class="col-sm-2"><a class="no-underline" href="https://github.com/Stilesey" target="_blank">
  <i class="icon-pinterest i5x"></i>
  </a></div>
</div>
<div class="justPad text-center">
  <div class="col-sm-2"><a class="no-underline" href="https://www.linkedin.com/company-beta/2611650" target="_blank">
  <i class="icon-linkedin i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://twitter.com/stilessocial" target="_blank">
  <i class="icon-twitter i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://www.facebook.com/Stiles-Recruitment-222988288126529/" target="_blank">
  <i class="icon-facebook i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://plus.google.com/u/1/107419039579112986073" target="_blank">
  <i class="icon-google-plus i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://github.com/Stilesey" target="_blank">
  <i class="icon-github-alt i5x"></i>
  </a></div>
    <div class="col-sm-2"><a class="no-underline" href="https://github.com/Stilesey" target="_blank">
  <i class="icon-pinterest i5x"></i>
  </a></div>
</div>



</div>
</div>
<div class="row brandDark">
<div class="container">
<h3>Heading Three brandDark</h3>
<p class="lead">Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing</a> elit, sed diem nonummy nibh euismod tincidunt ut.</p>
Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing</a> elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut aliquip ex ea commodo consequat. Duis te feugi facilisi. Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.

Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.
<div class="justPad">
<div class="row">
  <div class="col-sm-6"><button class="btn btn-primary btn-lg" type="button">Large Primary button</button></div>
  <div class="col-sm-6"><button class="btn btn-default btn-lg" type="button">Large Default button</button></div>
</div>
</div>
<div class="justPad">[gravityform id="1" title="false" description="false" ajax="true"]</div>
<div class="justPad text-center">
  <div class="col-sm-2"><a class="no-underline" href="https://www.linkedin.com/company-beta/2611650" target="_blank">
  <i class="icon-linkedin i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://twitter.com/stilessocial" target="_blank">
  <i class="icon-twitter i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://www.facebook.com/Stiles-Recruitment-222988288126529/" target="_blank">
  <i class="icon-facebook i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://plus.google.com/u/1/107419039579112986073" target="_blank">
  <i class="icon-google-plus i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://github.com/Stilesey" target="_blank">
  <i class="icon-github-alt i5x"></i>
  </a></div>
    <div class="col-sm-2"><a class="no-underline" href="https://github.com/Stilesey" target="_blank">
  <i class="icon-pinterest i5x"></i>
  </a></div>
</div>
</div>
</div>
<div class="row brandDarker">
<div class="container">
<h3>Heading Three brandDarker</h3>
<p class="lead">Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing</a> elit, sed diem nonummy nibh euismod tincidunt ut.</p>
Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing</a> elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut aliquip ex ea commodo consequat. Duis te feugi facilisi. Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.

Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.

</div>
</div>
<div class="row brandDarkest">
<div class="container">
<h3>Heading Three brandDarkest</h3>
<p class="lead">Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing</a> elit, sed diem nonummy nibh euismod tincidunt ut.</p>
Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing</a> elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut aliquip ex ea commodo consequat. Duis te feugi facilisi. Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.

Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.
<div class="justPad">
<div class="row">
  <div class="col-sm-6"><button class="btn btn-primary btn-lg" type="button">Large Primary button</button></div>
  <div class="col-sm-6"><button class="btn btn-default btn-lg" type="button">Large Default button</button></div>
</div>
</div>
<div class="justPad">[gravityform id="1" title="false" description="false" ajax="true"]</div>
<div class="justPad text-center">
  <div class="col-sm-2"><a class="no-underline" href="https://www.linkedin.com/company-beta/2611650" target="_blank">
  <i class="icon-linkedin i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://twitter.com/stilessocial" target="_blank">
  <i class="icon-twitter i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://www.facebook.com/Stiles-Recruitment-222988288126529/" target="_blank">
  <i class="icon-facebook i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://plus.google.com/u/1/107419039579112986073" target="_blank">
  <i class="icon-google-plus i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://github.com/Stilesey" target="_blank">
  <i class="icon-github-alt i5x"></i>
  </a></div>
    <div class="col-sm-2"><a class="no-underline" href="https://github.com/Stilesey" target="_blank">
  <i class="icon-pinterest i5x"></i>
  </a></div>
</div>
</div>
</div>
<div class="row brandLight">
<div class="container">
<h3>Heading Three - brandLight</h3>
<p class="lead">Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing</a> elit, sed diem nonummy nibh euismod tincidunt ut.</p>
Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing</a> elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut aliquip ex ea commodo consequat. Duis te feugi facilisi. Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.

Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.
<div class="justPad">
<div class="row">
  <div class="col-sm-6"><button class="btn btn-primary btn-lg" type="button">Large Primary button</button></div>
  <div class="col-sm-6"><button class="btn btn-default btn-lg" type="button">Large Default button</button></div>
</div>
</div>
<div class="justPad">[gravityform id="1" title="false" description="false" ajax="true"]</div>
<div class="justPad text-center">
  <div class="col-sm-2"><a class="no-underline" href="https://www.linkedin.com/company-beta/2611650" target="_blank">
  <i class="icon-linkedin i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://twitter.com/stilessocial" target="_blank">
  <i class="icon-twitter i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://www.facebook.com/Stiles-Recruitment-222988288126529/" target="_blank">
  <i class="icon-facebook i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://plus.google.com/u/1/107419039579112986073" target="_blank">
  <i class="icon-google-plus i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://github.com/Stilesey" target="_blank">
  <i class="icon-github-alt i5x"></i>
  </a></div>
    <div class="col-sm-2"><a class="no-underline" href="https://github.com/Stilesey" target="_blank">
  <i class="icon-pinterest i5x"></i>
  </a></div>
</div>
</div>
</div>
<div class="row brandLighter">
<div class="container">
<h3>Heading Three - brandLighter</h3>
<p class="lead">Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing</a> elit, sed diem nonummy nibh euismod tincidunt ut.</p>
Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing</a> elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut aliquip ex ea commodo consequat. Duis te feugi facilisi. Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.

Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.
<div class="justPad">
<div class="row">
  <div class="col-sm-6"><button class="btn btn-primary btn-lg" type="button">Large Primary button</button></div>
  <div class="col-sm-6"><button class="btn btn-default btn-lg" type="button">Large Default button</button></div>
</div>
</div>
<div class="justPad">[gravityform id="1" title="false" description="false" ajax="true"]</div>
<div class="justPad text-center">
  <div class="col-sm-2"><a class="no-underline" href="https://www.linkedin.com/company-beta/2611650" target="_blank">
  <i class="icon-linkedin i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://twitter.com/stilessocial" target="_blank">
  <i class="icon-twitter i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://www.facebook.com/Stiles-Recruitment-222988288126529/" target="_blank">
  <i class="icon-facebook i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://plus.google.com/u/1/107419039579112986073" target="_blank">
  <i class="icon-google-plus i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://github.com/Stilesey" target="_blank">
  <i class="icon-github-alt i5x"></i>
  </a></div>
    <div class="col-sm-2"><a class="no-underline" href="https://github.com/Stilesey" target="_blank">
  <i class="icon-pinterest i5x"></i>
  </a></div>
</div>
</div>
</div>
<div class="row brandLightest">
<div class="container">
<h3>Heading Three - brandLightest</h3>
<p class="lead">Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing</a> elit, sed diem nonummy nibh euismod tincidunt ut.</p>
Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing</a> elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut aliquip ex ea commodo consequat. Duis te feugi facilisi. Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.

Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.
<div class="justPad">
<div class="row">
  <div class="col-sm-6"><button class="btn btn-primary btn-lg" type="button">Large Primary button</button></div>
  <div class="col-sm-6"><button class="btn btn-default btn-lg" type="button">Large Default button</button></div>
</div>
</div>
</div>
</div>
<div class="row brandComp-darkest">
<div class="container">
<h3>Heading Three - brandComp-darkest</h3>
<p class="lead">Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing</a> elit, sed diem nonummy nibh euismod tincidunt ut.</p>
Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing</a> elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut aliquip ex ea commodo consequat. Duis te feugi facilisi. Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.

Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.
<div class="justPad">
<div class="row">
  <div class="col-sm-6"><button class="btn btn-primary btn-lg" type="button">Large Primary button</button></div>
  <div class="col-sm-6"><button class="btn btn-default btn-lg" type="button">Large Default button</button></div>
</div>
</div>
<div class="justPad">[gravityform id="1" title="false" description="false" ajax="true"]</div>
<div class="justPad text-center">
  <div class="col-sm-2"><a class="no-underline" href="https://www.linkedin.com/company-beta/2611650" target="_blank">
  <i class="icon-linkedin i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://twitter.com/stilessocial" target="_blank">
  <i class="icon-twitter i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://www.facebook.com/Stiles-Recruitment-222988288126529/" target="_blank">
  <i class="icon-facebook i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://plus.google.com/u/1/107419039579112986073" target="_blank">
  <i class="icon-google-plus i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://github.com/Stilesey" target="_blank">
  <i class="icon-github-alt i5x"></i>
  </a></div>
    <div class="col-sm-2"><a class="no-underline" href="https://github.com/Stilesey" target="_blank">
  <i class="icon-pinterest i5x"></i>
  </a></div>
</div>
</div>
</div>
<div class="row brandComp-darker">
<div class="container">
<h3>Heading Three - brandComp-darker</h3>
<p class="lead">Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing</a> elit, sed diem nonummy nibh euismod tincidunt ut.</p>
Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing</a> elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut aliquip ex ea commodo consequat. Duis te feugi facilisi. Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.

Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.
<div class="justPad">
<div class="row">
  <div class="col-sm-6"><button class="btn btn-primary btn-lg" type="button">Large Primary button</button></div>
  <div class="col-sm-6"><button class="btn btn-default btn-lg" type="button">Large Default button</button></div>
</div>
</div>
<div class="justPad">[gravityform id="1" title="false" description="false" ajax="true"]</div>
<div class="justPad text-center">
  <div class="col-sm-2"><a class="no-underline" href="https://www.linkedin.com/company-beta/2611650" target="_blank">
  <i class="icon-linkedin i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://twitter.com/stilessocial" target="_blank">
  <i class="icon-twitter i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://www.facebook.com/Stiles-Recruitment-222988288126529/" target="_blank">
  <i class="icon-facebook i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://plus.google.com/u/1/107419039579112986073" target="_blank">
  <i class="icon-google-plus i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://github.com/Stilesey" target="_blank">
  <i class="icon-github-alt i5x"></i>
  </a></div>
    <div class="col-sm-2"><a class="no-underline" href="https://github.com/Stilesey" target="_blank">
  <i class="icon-pinterest i5x"></i>
  </a></div>
</div>
</div>
</div>
<div class="row brandComp-dark">
<div class="container">
<h3>Heading Three - brandComp-dark</h3>
<p class="lead">Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing</a> elit, sed diem nonummy nibh euismod tincidunt ut.</p>
Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing</a> elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut aliquip ex ea commodo consequat. Duis te feugi facilisi. Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.

Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.
<div class="justPad">
<div class="row">
  <div class="col-sm-6"><button class="btn btn-primary btn-lg" type="button">Large Primary button</button></div>
  <div class="col-sm-6"><button class="btn btn-default btn-lg" type="button">Large Default button</button></div>
</div>
</div>
<div class="justPad">[gravityform id="1" title="false" description="false" ajax="true"]</div>
<div class="justPad text-center">
  <div class="col-sm-2"><a class="no-underline" href="https://www.linkedin.com/company-beta/2611650" target="_blank">
  <i class="icon-linkedin i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://twitter.com/stilessocial" target="_blank">
  <i class="icon-twitter i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://www.facebook.com/Stiles-Recruitment-222988288126529/" target="_blank">
  <i class="icon-facebook i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://plus.google.com/u/1/107419039579112986073" target="_blank">
  <i class="icon-google-plus i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://github.com/Stilesey" target="_blank">
  <i class="icon-github-alt i5x"></i>
  </a></div>
    <div class="col-sm-2"><a class="no-underline" href="https://github.com/Stilesey" target="_blank">
  <i class="icon-pinterest i5x"></i>
  </a></div>
</div>
</div>
</div>
<div class="row brandComp">
<div class="container">
<h3>Heading Three - brandComp</h3>
<p class="lead">Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing</a> elit, sed diem nonummy nibh euismod tincidunt ut.</p>
Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing</a> elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut aliquip ex ea commodo consequat. Duis te feugi facilisi. Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.

Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.
<div class="justPad">
<div class="row">
  <div class="col-sm-6"><button class="btn btn-primary btn-lg" type="button">Large Primary button</button></div>
  <div class="col-sm-6"><button class="btn btn-default btn-lg" type="button">Large Default button</button></div>
</div>
</div>
<div class="justPad">[gravityform id="1" title="false" description="false" ajax="true"]</div>
<div class="justPad text-center">
  <div class="col-sm-2"><a class="no-underline" href="https://www.linkedin.com/company-beta/2611650" target="_blank">
  <i class="icon-linkedin i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://twitter.com/stilessocial" target="_blank">
  <i class="icon-twitter i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://www.facebook.com/Stiles-Recruitment-222988288126529/" target="_blank">
  <i class="icon-facebook i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://plus.google.com/u/1/107419039579112986073" target="_blank">
  <i class="icon-google-plus i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://github.com/Stilesey" target="_blank">
  <i class="icon-github-alt i5x"></i>
  </a></div>
    <div class="col-sm-2"><a class="no-underline" href="https://github.com/Stilesey" target="_blank">
  <i class="icon-pinterest i5x"></i>
  </a></div>
</div>
</div>
</div>
<div class="row brandComp-light">
<div class="container">
<h3>Heading Three - brandComp-light</h3>
<p class="lead">Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing</a> elit, sed diem nonummy nibh euismod tincidunt ut.</p>
Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing</a> elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut aliquip ex ea commodo consequat. Duis te feugi facilisi. Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.

Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.
<div class="justPad">
<div class="row">
  <div class="col-sm-6"><button class="btn btn-primary btn-lg" type="button">Large Primary button</button></div>
  <div class="col-sm-6"><button class="btn btn-default btn-lg" type="button">Large Default button</button></div>
</div>
</div>


<div class="justPad">[gravityform id="1" title="false" description="false" ajax="true"]</div>
<div class="justPad text-center">
  <div class="col-sm-2"><a class="no-underline" href="https://www.linkedin.com/company-beta/2611650" target="_blank">
  <i class="icon-linkedin i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://twitter.com/stilessocial" target="_blank">
  <i class="icon-twitter i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://www.facebook.com/Stiles-Recruitment-222988288126529/" target="_blank">
  <i class="icon-facebook i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://plus.google.com/u/1/107419039579112986073" target="_blank">
  <i class="icon-google-plus i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://github.com/Stilesey" target="_blank">
  <i class="icon-github-alt i5x"></i>
  </a></div>
    <div class="col-sm-2"><a class="no-underline" href="https://github.com/Stilesey" target="_blank">
  <i class="icon-pinterest i5x"></i>
  </a></div>
</div>
</div>
</div>
<div class="row brandComp-lighter">
<div class="container">
<h3>Heading Three - brandComp-lighter</h3>
<p class="lead">Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing</a> elit, sed diem nonummy nibh euismod tincidunt ut.</p>
Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing</a> elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut aliquip ex ea commodo consequat. Duis te feugi facilisi. Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.

Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.
<div class="justPad">
<div class="row">
  <div class="col-sm-6"><button class="btn btn-primary btn-lg" type="button">Large Primary button</button></div>
  <div class="col-sm-6"><button class="btn btn-default btn-lg" type="button">Large Default button</button></div>
</div>
</div>
<div class="justPad">[gravityform id="1" title="false" description="false" ajax="true"]</div>
<div class="justPad text-center">
  <div class="col-sm-2"><a class="no-underline" href="https://www.linkedin.com/company-beta/2611650" target="_blank">
  <i class="icon-linkedin i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://twitter.com/stilessocial" target="_blank">
  <i class="icon-twitter i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://www.facebook.com/Stiles-Recruitment-222988288126529/" target="_blank">
  <i class="icon-facebook i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://plus.google.com/u/1/107419039579112986073" target="_blank">
  <i class="icon-google-plus i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://github.com/Stilesey" target="_blank">
  <i class="icon-github-alt i5x"></i>
  </a></div>
    <div class="col-sm-2"><a class="no-underline" href="https://github.com/Stilesey" target="_blank">
  <i class="icon-pinterest i5x"></i>
  </a></div>
</div>
</div>
</div>
<div class="row brandComp-lightest">
<div class="container">
<h3>Heading Three - brandComp-lightest</h3>
<p class="lead">Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing</a> elit, sed diem nonummy nibh euismod tincidunt ut.</p>
Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing</a> elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut aliquip ex ea commodo consequat. Duis te feugi facilisi. Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.

Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.
<div class="justPad">
<div class="row">
  <div class="col-sm-6"><button class="btn btn-primary btn-lg" type="button">Large Primary button</button></div>
  <div class="col-sm-6"><button class="btn btn-default btn-lg" type="button">Large Default button</button></div>
</div>
</div>


<div class="justPad">[gravityform id="1" title="false" description="false" ajax="true"]</div>
<div class="justPad text-center">
  <div class="col-sm-2"><a class="no-underline" href="https://www.linkedin.com/company-beta/2611650" target="_blank">
  <i class="icon-linkedin i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://twitter.com/stilessocial" target="_blank">
  <i class="icon-twitter i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://www.facebook.com/Stiles-Recruitment-222988288126529/" target="_blank">
  <i class="icon-facebook i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://plus.google.com/u/1/107419039579112986073" target="_blank">
  <i class="icon-google-plus i5x"></i>
  </a></div>
  <div class="col-sm-2"><a class="no-underline" href="https://github.com/Stilesey" target="_blank">
  <i class="icon-github-alt i5x"></i>
  </a></div>
    <div class="col-sm-2"><a class="no-underline" href="https://github.com/Stilesey" target="_blank">
  <i class="icon-pinterest i5x"></i>
  </a></div>
</div>
</div>
</div>

