
.blue-darkest {
	background-color: $blue-darkest;
	color: $blue-lighter;
}
.blue-darker {
	background-color: $blue-darker;
	color: $blue-lighter;

}
.blue-dark {
	background-color: $blue-dark;
	color: $blue-lighter;

}
.blue {
	background-color: $blue-base;
	color: $blue-lightest;

}

.blue-light {
	background-color: $blue-light;
	color: $blue-base;
}

.blue-lighter {
	background-color: $blue-lighter;
	color: $blue-dark;

}

.blue-lightest {
	background-color: $blue-lightest;
	color: $blue-darker;

}

