 <!-- Row of 3 -->
<div class="col-md-4">
	<div class="bs-example">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                        <h2 class="panel-title"><a onclick="return false;" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed">Warranty Gold</a></h2>
                    
                </div>
                <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                          <div class="list-group">
                              <a href="#/policyDocs" class="list-group-item existing-policies">Policy 14822 84201 94346</a>
                              <a href=""></a>
                          </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                        <h2 class="panel-title"><a onclick="return false;" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="" aria-expanded="true">Your Quotes:</a></h2>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in" aria-expanded="true" style="">
                    <div class="panel-body">

                    </div>
                </div>
            </div>
		</div>                            
	</div>
</div>

<div class="col-md-4">
	<div class="bs-example">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                        <h2 class="panel-title"><a onclick="return false;" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" class="collapsed">Warranty Gold</a></h2>
                    
                </div>
                <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                          <div class="list-group">
                              <a href="#/policyDocs" class="list-group-item existing-policies">Policy 14822 84201 94346</a>
                              <a href=""></a>
                          </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                        <h2 class="panel-title"><a onclick="return false;" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" class="" aria-expanded="true">Your Quotes:</a></h2>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in" aria-expanded="true" style="">
                    <div class="panel-body">

                    </div>
                </div>
            </div>
		</div>                            
	</div>
</div>

<div class="col-md-4">
	<div class="bs-example">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                        <h2 class="panel-title"><a onclick="return false;" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed">Warranty Gold</a></h2>
                    
                </div>
                <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                          <div class="list-group">
                              <a href="#/policyDocs" class="list-group-item existing-policies">Policy 14822 84201 94346</a>
                              <a href=""></a>
                          </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                        <h2 class="panel-title"><a onclick="return false;" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" class="" aria-expanded="true">Your Quotes:</a></h2>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in" aria-expanded="true" style="">
                    <div class="panel-body">

                    </div>
                </div>
            </div>
		</div>                            
	</div>
</div>
