<div class="row brandRow">
  <div class="container">

      <h1>User Experience Design (UX)</h1>

      <p class="lead">Our user-centred design approach uses a suite of UX tools and services to help our clients grow their business with customer centred digital products.</p>

    <div class="row justPad">
      <div class="col-sm-4">
        <p><i class="icon-target i5x"></i></p>

        <h2>Understand</h2>

        <div class="ticklist justPad">
          <p>Competitor Analysis</p>
          <p>User Profiles &amp; Goals</p>
          <p>User Journeys</p>
          <p>Information Architecture</p>
        </div>
      </div>

      <div class="col-sm-4">
      <p><i class="icon-bulb-bright i5x"></i></p>
      <h2>Create</h2>
        <div class="ticklist justPad">
          <p>Content &amp; User flow Prototyping</p>
          <p>UI Design</p>
          <p>Visual Design</p>
          <p>Responsive Development</p>
        </div>
      </div>

      <div class="col-sm-4">
      <p><i class="icon-glasses i5x"></i></p>
        <h2>Evaluate</h2>
          <div class="ticklist justPad">
          <p>Site Metrics</p>
          <p>User Testing</p>
          <p>Browser Testing</p>
          <p>Social Media Tracking</p>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="row brandComp-lightest">
  <div class="container">
        <p><i class="icon-target i5x"></i></p>
        <h1 class="page-title">Understand</h1>
        <p class="lead">We seek to understand your business and target users to identify their needs and characteristics through a combination of User Profiling and analytics data.</p>
        <p class="lead">Knowing who your users are and what they want is the first, vital step in meeting their needs.</p>

      <div class="row">

        <div class="col-xs-4"><h3>User Profiles & Goals</h3>
          <p>User profiles are used to help understand your target users and identify their needs and characteristics such as their internet skills, experience, background, language requirements, demographic group, psychographics and activity and information requirements or ‘user goals’. </p>
        </div>

        <div class="col-xs-4"><h3>Content Prototyping Framework</h3>
          <p>The New Brand Media prototyping framework provides the distinct advantage of being able to model and test the user experience from the earliest stages of a project on a ‘real’ website. Addressing the all important content early like this leads to better web copy,  created in the context of the connected web. Being fully responsive too, there are no surprises of how user journeys or copy will work on a mobile or tablet.</p>
        </div>

        <div class="col-xs-4"><h3>User Journeys & Information Architecture</h3>
          <p>User journeys will be developed that are optimised around the established user goals. These will be extrapolated to form the primary information architecture of the site.</p>
        </div>

      </div>

  </div>

</div>


<div class="row brandRow">
  <div class="container">
    <p><i class="icon-bulb-bright i5x"></i></i></p>

    <h1 class="page-title">Create</h1>
    <p class="lead">We pride ourselves on creative work that delivers results.</p>

    <p class="lead">Our creative team are now armed with rich answers to the questions posed in a standard creative brief.  We know <em>who</em> we are talking to from the user profiles and <em>what</em> we want to say from the content prototype.</p>

  <div class="row">

    <div class="col-sm-4"><h3>UI & Creative</h3>
      <p>How do we want to say it? We are used to working with established brands and understand ‘tone of voice’, or our brand definition services may feed in at this stage.  Either way there’s no guess work, just focussed creative.

      We’ll create a range of different concepts that express your brand consistently and encourage user engagement.</p>
    </div>

    <div class="col-sm-4">
        <h3>Content Strategy</h3>
        <p>Yeah yeah yeah, ‘content is king’. Yet too often, it is not considered early enough in the design process for the excitement of the visual design and even the best of design and user experience can fail on its business objectives without a plan for content today. Not Just for the first live launch but the on going social chatter. By day 2 of of a New Brand Media project we will be evaluating and perfecting the content and throughout the entire project build cycle.</p>
    </div>

    <div class="col-sm-4"><h3>Social Media</h3>
          <p>“If Content is King then Distribution is Queen and she wears the trousers!”
        Jonathan Perelman, VP of BuzzFeed.

        We have been helping clients find ways to maximise their distribution efforts on social platforms whilst minimising the consumption of their ‘day job’.

        We develop Content and Social Media strategies to tell your brand story and with the demand for snackable content ever increasing  you'll be glad social is baked into our technology solutions.

          <a href="http://www.newbrandmedia.com/contact/" title="Get social with us now">Get social with us</a> now.</p>
    </div>
  </div>
</div>
</div>
<div class="row brandComp-lightest">
  <div class="container">
<p><i class="icon-glasses i5x"></i></p>
<h1 class="page-title">Evaluate</h1>
<p class="lead">Our ‘evaluate’ principle is an integral part of every iterative cycle of the Understand, Create, Evaluate methodology, not a final phase. We continually evaluate all UX outputs from user profiles to final code.</p>

<div class="row">
  <div class="col-sm-4">
    <h3>Site Metrics</h3>
    <p>Measurement is key to making design work harder for your organisation.
      In most cases historical site analytics data will used to build the initial target user profiles but these will be refined as we learn more from the measurement tools we implement.
      </p>
  </div>

  <div class="col-sm-4">
  <h3>Testing</h3>
  <p>Our approach facilitates agile testing throughout development.  All team members take responsibility for quality assurance and our clients enjoy real-time transparency of the product readiness and issue backlog.</p>
  </div>
  
  <div class="col-sm-4">
  <h3>Social Media Tracking</h3>
  <p>It is important when planning your Social Media Campaign that you not only have clear business objectives, but a plan to measure their effectiveness.  Our evaluate principle follows users through to the social media campaigns we create for our clients.  We use our social and email marketing software to track social sharing of your branded content across all channels to provide valuable customer insight.</p>
  </div>
</div>
</div>