

.btn {
	border: 2px solid transparent;
	box-sizing: border-box;
	border-radius: $default-border-radius;
	font-family: $font-family-headings;
}

///////// Default

.btn:active {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-default {
	background-color: transparent;
	border: 2px solid $brandComp-light;
	color: $brandComp-light;
}

.btn-default:hover  {
	background-color: $brandComp-light;
	color: $white;
	border: 2px solid transparent;
}

.btn-default:focus  {
	background-color: $complimentary-color;
	color: $white;
}


// Hover for all default buttons
.btn-default:active:hover, .btn-default:active  {
	background-color: $primary-color;
	color: $foreground-color;
}

///////// Primary

.btn-primary, .gform_wrapper .button, .gform_button, .gform_button button, input#submit.submit { /// input#submit.submit for default commentds buttton
 	background-color: transparent;
	border: 2px solid $primary-color;
	border-color: $primary-color;
	color: $primary-color;
}

.btn-primary:hover, .gform_button:hover, .gform_button:focus, input#submit.submit:hover {
	background-color: $primary-color; //  
	color: white;
	border: 2px solid transparent;

}

a.btn > i  {
	color: $primary-color;
}

// Dopuble the size  or the largest button.
.btn-lg, .gform_wrapper .button, .gform_button{
    padding: $btn-padding; // 20px 32px 20px 32px;
    
}

// Use of BS btn-info classes for contrasting toggle/radio buttons 
.btn-info {
	background-color: $complimentary-color;
	color: $foreground-color;
	border: $default-color;
}


.btn.scrollDownBtn {

}

//////////////////////////////////////////////////////////////////////////// Links

a, a:hover, .panel-title > a:focus, .pagination>li>a {
	color: $primary-color;
	text-decoration: none;
}

.pagination>.active>a,.pagination>.active>a:hover, .pagination>li>a:hover  {
	background-color: $brand-color;
	border-color: $brandCol-dark;
	color: $white;
}


a.no-underline, a:hover.no-underline   {
	text-decoration: none;
	border: none;
}

img a {
	text-decoration: none;
}

a>[class*="icon"] { // No worky on a, OK in ?
		// color: red;
}

i>a:hover {
	text-decoration: none;
}


//////////////////////////////////////////////////////////////////////////// Button Icons



.btn-default.next:before, .btn-primary.next:before  {
    font-family: 'newbrandmedia';
    font-size: 90%;
	content: $icon-arrow-right-circle;
	padding-right: .5em;
}



.icon-flipped {

}




///////////// Icons Scaling ///




