
/* AvenirLTStd-Light */
@font-face {
  font-family: 'AvenirLTStd-Light';
  src: url('./fonts/AvenirLTStd-Light.eot'); /* IE9 Compat Modes */
  src: url('./fonts/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/AvenirLTStd-Light.woff2') format('woff2'), /* Modern Browsers */
    url('./fonts/AvenirLTStd-Light.woff') format('woff'), /* Modern Browsers */
    url('./fonts/AvenirLTStd-Light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/AvenirLTStd-Light.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
}

/* AvenirLTStd */
@font-face {
  font-family: 'AvenirLTStd-Roman';
  src: url('./fonts/AvenirLTStd-Roman.eot'); /* IE9 Compat Modes */
  src: url('./fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/AvenirLTStd-Roman.woff2') format('woff2'), /* Modern Browsers */
    url('./fonts/AvenirLTStd-Roman.woff') format('woff'), /* Modern Browsers */
    url('./fonts/AvenirLTStd-Roman.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/AvenirLTStd-Roman.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
}


/* AvenirLTStd-Medium */
@font-face {
  font-family: 'AvenirLTStd-Medium';
  src: url('./fonts/AvenirLTStd-Medium.eot'); /* IE9 Compat Modes */
  src: url('./fonts/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/AvenirLTStd-Medium.woff2') format('woff2'), /* Modern Browsers */
    url('./fonts/AvenirLTStd-Medium.woff') format('woff'), /* Modern Browsers */
    url('./fonts/AvenirLTStd-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/AvenirLTStd-Medium.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
}

/* AvenirLTStd-Black */
@font-face {
  font-family: 'AvenirLTStd-Black';
  src: url('./fonts/AvenirLTStd-Black.eot'); /* IE9 Compat Modes */
  src: url('./fonts/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/AvenirLTStd-Black.woff2') format('woff2'), /* Modern Browsers */
    url('./fonts/AvenirLTStd-Black.woff') format('woff'), /* Modern Browsers */
    url('./fonts/AvenirLTStd-Black.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/AvenirLTStd-Black.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
}