
.footer {
	padding: 15px 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	

	p.attribution, p.attribution>a {
		//color: $brandComp-lightest;
		font-size: 1em;
		//line-height: 1.4;
	}  
	p.attribution>a {
		color: $brandComp-light;
	}
	p.attribution-supplier {

		@extend p.attribution;
		color: $brandComp-light;
	    @include mq(ip) {}
	    @include mq(xs) {}
	    @include mq(sm) { float: right;}
	    @include mq(md) { float: right;}
	    @include mq(lg) { float: right;}
	    @include mq(xl) { float: right;}
	

		float: left;
	}

}
