

fieldset { border: 0; }


label {
	text-transform: uppercase;
	.small {
		font-size: 85%;
	}

}


// Default inputs & buttons

.input-group {
      .input-group-btn>.btn {
		padding: $btn-padding;
		margin-left: -2px;
		//z-index: 2;
        } 

}
 
input, textarea, select {
	border-bottom: 2px solid inherit;
	padding: $input-padding;

		@include placeholder {
		font-family: $font-family-headings;
		font-size: $font-size-base;
	}
}

input#search.form-control {
	padding: $input-padding;
	box-shadow: none;
	background-image: none;
	-webkit-box-shadow: none;
	border: 2px solid $default-color;

}


.formHelp{
	margin-top:28px;
}

.formHelp:before {
	font-family: 'newbrandmedia';
	font-size: 2em;
	content: $icon-info;
	color: $brandCol-base;
}



// Square/Round/Flatten inputs & Addons
.input-lg, .form-group-lg .form-control, .input-group-addon {
	@include border-radius {}
}

.nolabel {
	margin-top:24px;
}

 // Form Add-ons / Icons

.input-group-addon>i {
	font-size: 2em;
}


// Use of BS btn-info classes for contrasting toggle/radio buttons 
.btn-info {
	background-color: $gray;
	color: $foreground-color;
	border: $default-color;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: inherit;
	background-color: $default-color;
	color: $btn-default-color;
    display: inline-block;
    padding: 10px 16px;
    border-radius: 6px;
    //border-color: $btn-default-border;
    border: 1px solid $btn-default-border;
}

.inputfile:focus + label,
.inputfile + label:hover {
	background-color: $complimentary-color;
	color: $background-color;
}


