/////////////////////////////////////////////////////////////////////////// iClaim Panel Tints


.row.whiteout {
	color: $background-color;
	a {
		color: $background-color;

	}
}


.panel-tint-pastey {
	background-color:$complimentary-color;
	min-height: 400px;
	padding: 5% 20%;

		p.lead>a {
			color: $background-color;
	}
}

.panel-tint-light {
	background-color:$brand-color;
	min-height: 400px;	
	padding: 5% 20%;

		p.lead>a {
			color: $background-color;
	}
}



// Blue

.lilac-darkest {
	background-color: $brandCol-darkest;
	color: $brandCol-lighter;
	
}
.lilac-darker {
	background-color: $brandCol-darker;
	color: $brandCol-lighter;

}
.lilac-dark {
	background-color: $brandCol-dark;
	color: $brandCol-lightest;


}
.lilac {
	background-color: $brandCol-base;
	color: $brandCol-lightest;
		a:hover, .btn-primary  { border-color:$brandCol-lighter; color: inherit;}

}


.lilac-light {
	background-color: $brandCol-light;
	color: $brandCol-base;
}

.lilac-lighter {
	background-color: $brandCol-lighter;
	color: $brandCol-dark;

}

.lilac-lightest {
	background-color: $brandCol-lightest;
	color: $brandCol-darker;

}

// Blue

.blue-darkest {
	background-color: $brandComp-darkest;
	color: $brandComp-lighter;
}
.blue-darker {
	background-color: $brandComp-darker;
	color: $brandComp-lighter;

}
.blue-dark {
	background-color: $brandComp-dark;
	color: $brandComp-lighter;

}
.blue {
	background-color: $brandComp-base;
	color: $brandComp-lightest;

}

.blue-light {
	background-color: $brandComp-light;
	color: $brandComp-base;
}

.blue-lighter {
	background-color: $brandComp-lighter;
	color: $brandComp-dark;

}

.blue-lightest {
	background-color: $brandComp-lightest;
	color: $brandComp-darker;

}

/// Accordian Panels

.productAccordian {
    #accordion.panel-group, .panel-info {  margin-bottom:0; border: 0; box-shadow: none;
    }
}



