$icomoon-font-path: "fonts" !default;

$icon-chevron-left: "\e079";
$icon-chevron-right: "\e080";
$icon-twitter-square: "\f081";
$icon-facebook-square: "\f082";
$icon-camera-retro: "\f083";
$icon-linkedin-square: "\f08c";
$icon-twitter: "\f099";
$icon-facebook: "\f09a";
$icon-facebook-f: "\f09a";
$icon-pinterest: "\f0d2";
$icon-pinterest-square: "\f0d3";
$icon-google-plus-square: "\f0d4";
$icon-google-plus: "\f0d5";
$icon-linkedin: "\f0e1";
$icon-angle-double-left: "\f100";
$icon-angle-double-right: "\f101";
$icon-github-alt: "\f113";
$icon-html5: "\f13b";
$icon-css3: "\f13c";
$icon-dropbox: "\f16b";
$icon-bitbucket: "\f171";
$icon-bitbucket-square: "\f172";
$icon-tumblr: "\f173";
$icon-tumblr-square: "\f174";
$icon-apple: "\f179";
$icon-windows: "\f17a";
$icon-android: "\f17b";
$icon-linux: "\f17c";
$icon-skype: "\f17e";
$icon-git-square: "\f1d2";
$icon-git: "\f1d3";
$icon-facebook-official: "\f230";
$icon-safari: "\f267";
$icon-chrome: "\f268";
$icon-firefox: "\f269";
$icon-opera: "\f26a";
$icon-edge: "\f282";
$icon-ux-touch: "\e90b";
$icon-sass: "\e905";
$icon-code: "\e906";
$icon-ux: "\e926";
$icon-sort: "\e639";
$icon-plus: "\e924";
$icon-minus: "\e925";
$icon-cal-days: "\e922";
$icon-eu: "\e923";
$icon-checkbox-tick: "\e920";
$icon-signpost: "\e91f";
$icon-maestro-pay-logo: "\e919";
$icon-american-express-logo: "\e91a";
$icon-visa-pay-logo: "\e91b";
$icon-master-card-logo: "\e91c";
$icon-diners-club-pay-logo: "\e91d";
$icon-jcb-pay-logo-symbol: "\e91e";
$icon-hourglass-expired: "\e918";
$icon-no-entry: "\e917";
$icon-pound-big: "\e912";
$icon-pound: "\e913";
$icon-pound-circle: "\e914";
$icon-hourglass: "\e915";
$icon-404: "\e916";
$icon-addBasket: "\e910";
$icon-removeBasket: "\e911";
$icon-not-available-product: "\e90f";
$icon-productDemandsNeeds: "\e901";
$icon-hide: "\e106";
$icon-view2: "\e90c";
$icon-wink: "\e90d";
$icon-new-arrow: "\e90a";
$icon-cart-open: "\e909";
$icon-identity2: "\e907";
$icon-envelope: "\e904";
$icon-chevron: "\e903";
$icon-chevron-down: "\e908";
$icon-login: "\e902";
$icon-vehicle: "\e900";
$icon-file-download: "\e6d5";
$icon-headset: "\e6d3";
$icon-band-arrow-up: "\e600";
$icon-card: "\e622";
$icon-bulb-bright: "\e6ce";
$icon-heart-monitor: "\e6d0";
$icon-handshake: "\e6d1";
$icon-sight: "\e6ca";
$icon-coffee: "\e6c8";
$icon-pill: "\e6c9";
$icon-add-user: "\e6a9";
$icon-downarrow: "\e6a8";
$icon-delete-user: "\e6a7";
$icon-cd: "\e6a6";
$icon-movie: "\e6a5";
$icon-games: "\e6a4";
$icon-key: "\e6a3";
$icon-backcircle: "\e6a2";
$icon-like: "\e6a1";
$icon-medal: "\e6a0";
$icon-mute: "\e69f";
$icon-group: "\e69e";
$icon-task-board: "\e69d";
$icon-clip: "\e69c";
$icon-pin: "\e69b";
$icon-plug: "\e69a";
$icon-next-arrow: "\e699";
$icon-safe: "\e698";
$icon-scissors: "\e697";
$icon-on: "\e696";
$icon-up-arrow-circle: "\e695";
$icon-user-female: "\e694";
$icon-users: "\e693";
$icon-sound: "\e692";
$icon-globe: "\e691";
$icon-watch: "\e690";
$icon-identity: "\e68f";
$icon-bluetooth: "\e68d";
$icon-money: "\e68c";
$icon-cloud-download: "\e68b";
$icon-cloud-upload: "\e68a";
$icon-arrow-down-circle: "\e689";
$icon-carret-down: "\e688";
$icon-carret-left-circle: "\e687";
$icon-carret-left: "\e686";
$icon-arrow-right-circle: "\e685";
$icon-carret-right: "\e684";
$icon-uparrow: "\e683";
$icon-carret-top: "\e682";
$icon-close: "\e681";
$icon-x: "\e680";
$icon-airplay: "\e67f";
$icon-alarm-clock: "\e67e";
$icon-folders-stacked: "\e67d";
$icon-anchor: "\e67c";
$icon-warning: "\e67b";
$icon-back: "\e67a";
$icon-basketball: "\e679";
$icon-battery: "\e678";
$icon-alarm: "\e677";
$icon-bike: "\e676";
$icon-bookopen: "\e675";
$icon-boxfile: "\e674";
$icon-cube: "\e673";
$icon-window: "\e672";
$icon-calculator: "\e671";
$icon-phone: "\e670";
$icon-uniE66F: "\e66f";
$icon-shopping-trolley: "\e66e";
$icon-comments: "\e66d";
$icon-tick-circle: "\e66c";
$icon-time: "\e66b";
$icon-cloud: "\e66a";
$icon-food: "\e669";
$icon-comment: "\e6aa";
$icon-compass: "\e667";
$icon-setting: "\e666";
$icon-2papers: "\e665";
$icon-creditcard: "\e664";
$icon-crop: "\e663";
$icon-establishment: "\e662";
$icon-trophy: "\e661";
$icon-calendar: "\e660";
$icon-disk: "\e65f";
$icon-presentation: "\e65e";
$icon-slideshow: "\e65d";
$icon-downlaod: "\e65c";
$icon-inbox: "\e65b";
$icon-drop: "\e65a";
$icon-settings-sliders: "\e659";
$icon-larger: "\e658";
$icon-fullscreen: "\e657";
$icon-paper: "\e656";
$icon-funnel: "\e655";
$icon-flagline: "\e654";
$icon-folder: "\e668";
$icon-gift: "\e652";
$icon-glasses: "\e651";
$icon-gleam: "\e650";
$icon-global: "\e64f";
$icon-piechart: "\e64e";
$icon-linegraph: "\e64d";
$icon-graph: "\e64c";
$icon-barchart: "\e64b";
$icon-questionmark: "\e64a";
$icon-help: "\e649";
$icon-home: "\e648";
$icon-info: "\e647";
$icon-basket-empty: "\e646";
$icon-keypad: "\e645";
$icon-minus-circle: "\e644";
$icon-lighbulb: "\e643";
$icon-heart: "\e642";
$icon-links: "\e641";
$icon-torch: "\e653";
$icon-padlock-closed: "\e63f";
$icon-view: "\e640";
$icon-infinity: "\e63d";
$icon-magnet: "\e63c";
$icon-envelop-letter: "\e63b";
$icon-envelope-open: "\e63a";
$icon-location-pin: "\e638";
$icon-map-folded: "\e637";
$icon-navbar: "\e636";
$icon-mic: "\e635";
$icon-screen: "\e634";
$icon-cresent-moon: "\e633";
$icon-more-options: "\e632";
$icon-mouse: "\e631";
$icon-music: "\e630";
$icon-music-track: "\e62f";
$icon-news: "\e62e";
$icon-fast-foward: "\e62d";
$icon-notes: "\e62c";
$icon-book: "\e62b";
$icon-brush: "\e62a";
$icon-paper-aeroplane: "\e629";
$icon-ink-pen: "\e628";
$icon-mobile: "\e627";
$icon-copy: "\e626";
$icon-aeroplane: "\e625";
$icon-play: "\e624";
$icon-plus-sign: "\e623";
$icon-briefcase: "\e63e";
$icon-power: "\e621";
$icon-rewind: "\e620";
$icon-print: "\e61f";
$icon-radio: "\e61e";
$icon-cloud-refresh: "\e6ab";
$icon-reload: "\e6ac";
$icon-refresh: "\e6ad";
$icon-bookmark: "\e6ae";
$icon-atom: "\e6af";
$icon-search: "\e6b0";
$icon-database: "\e6b1";
$icon-link: "\e6b2";
$icon-shopping-bag: "\e6b3";
$icon-cross-match: "\e6b4";
$icon-vibrate: "\e6b5";
$icon-loud: "\e6b6";
$icon-star: "\e6b7";
$icon-stopwatch: "\e6b8";
$icon-mortarboard: "\e6b9";
$icon-brightness: "\e6ba";
$icon-target: "\e6bb";
$icon-tag: "\e6bc";
$icon-timer: "\e6bd";
$icon-tools: "\e6be";
$icon-delect: "\e6bf";
$icon-uniE6BF: "\e6c0";
$icon-padlock-unlocked: "\e6c1";
$icon-upload: "\e6c2";
$icon-user: "\e6c3";
$icon-camera: "\e6c4";
$icon-tape: "\e6c5";
$icon-uniE6C5: "\e6c6";
$icon-speaker: "\e6c7";
$icon-wallet: "\e6cb";
$icon-factory: "\e61d";
$icon-band-arrow: "\e601";
$icon-flag: "\e602";
$icon-sort2: "\e603";
$icon-pdf: "\e6d4";
$icon-pdf-page-icon: "\e604";
$icon-pdf-file-icon: "\e605";
$icon-padlock: "\e606";
$icon-user-ios: "\e607";
$icon-logged-in: "\e608";
$icon-user-settings: "\e609";
$icon-change-password: "\e60a";
$icon-download: "\e60b";
$icon-doc-delete: "\e60c";
$icon-view-amendment-requests: "\e60d";
$icon-cancelled-policies: "\e60e";
$icon-new-amendment-request: "\e60f";
$icon-doc-tick: "\e610";
$icon-document-timer: "\e611";
$icon-cross: "\e612";
$icon-doc-time: "\e613";
$icon-settings: "\e614";
$icon-trash: "\e615";
$icon-thumbsup: "\e616";
$icon-tick-cirle: "\e618";
$icon-plus-circle: "\e617";
$icon-clock: "\e619";
$icon-tick: "\e61a";
$icon-umbrella: "\e61b";
$icon-speedometer: "\e61c";
$icon-magnify: "\e6d2";

