/* New Brand Media Icons */


.i2x, .i2x a:hover {
    font-size: 2em;
    text-decoration: none;
}

.i3x {
    font-size: 3em;
    text-decoration: none;

}

.i4x {
    font-size: 4em;
     text-decoration: none;

}

.i5x,  a>i.i5x  {
    font-size: 5em;
    text-decoration: none;

}

// Kill underlines on icon links
a:hover.iconfont {
text-decoration: none;
color: $brand-color;
}