	.ticklist>p:before {
		font-family: 'newbrandmedia';
	    content: $icon-tick-circle;
	    position: relative;
		float: left;
		font-size: 80%;
		    @include mq(ip) { margin: -15px 0  0px 0; font-size: 34px; padding: 5px 15px 0px 0; }
		    @include mq(xs) { margin: -15px 0 15px 0; font-size: 34px; padding: 5px 15px 0px 0; }
		    @include mq(sm) { margin: -15px 0 15px 0; font-size: 36px; padding: 5px 15px 0px 0; }
		    @include mq(md) { margin: -20px 0 15px 0; font-size: 42px; padding: 5px 15px 0px 0; }
		    @include mq(lg) { margin: -15px 0 15px 0; font-size: 36px; padding: 5px 15px 0px 0; } // extra paddding below icon to stop wrapping under icon
		    @include mq(xl) { margin: -25px 0 15px 0; font-size: 48px; padding: 5px 15px 0px 0; } // ...on lg and xl screens 

	}

	.ticklist>p {
		padding-bottom: .25em;
		baseline-shift: 20px;
		line-height: inherit;
		display: block;
		clear: both;
		    @include mq(ip) {font-size: 18px;} // Mirror .p wet! :/
		    @include mq(xs) {font-size: 18px;}
		    @include mq(sm) {font-size: 18px;}
		    @include mq(md) {font-size: 18px;}
		    @include mq(lg) {font-size: 20px;}
		    @include mq(xl) {font-size: 20px;}
	}