
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
          @include mq(xs) { margin-left:15px;}
          @include mq(sm) { margin-left:0px;}
          @include mq(md) { margin-left:0px;}
          @include mq(lg) { margin-left:0px;}

  } 
      a.navbar-brand {
        background: url(#{$get-path-to-assets}/nbm-logo.svg) no-repeat 0px 0;
        background-size: 238px 70px; 
        width: 238px;
        height: 70px;
        margin: 15px 0;
        padding: 0px;
              @include mq(xs) { }
              @include mq(sm) { }
              @include mq(md) { }
              @include mq(lg) { margin: 15px 0 0 0;}




  }