
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
          @include mq(xs) { margin-left: 15px;}
          @include mq(sm) { margin-left: 0px;}
          @include mq(md) { margin-left: 0px;}
          @include mq(lg) { margin-left: 0px;}
          @include mq(xl) { margin-left: 0px;}
  } 


      a.navbar-brand {
        background: url(#{$get-path-to-assets}/logo_stiles.svg) no-repeat 0px 0;
        background-size: 209px 80px; 
        width: 209px;  height: 80px;
        margin: 15px;
        padding: 0px;
              @include mq(ip) { background-size: 180px 69px; width: 180px;  height: 69px; margin: 15px;}
              @include mq(xs) { background-size: 180px 69px; width: 180px;  height: 69px; margin: 15px;}
              @include mq(sm) { margin-left: 0px;}
              @include mq(md) { margin-left: 0px;}
              @include mq(lg) { margin-left: 0px;}
              @include mq(xl) { margin-left: 0px;}




  }