// Microinteractions

// Remove IE border around links //
a {
   outline: 0;
}

/* Animate Link Underline on hover */
.sliding-middle-out {
    @include mq(ip) { display: inline-block; position: relative; padding-bottom: 0px;}
    @include mq(xs) { display: inline-block; position: relative; padding-bottom: 0px;}
    @include mq(sm) { display: inline-block; position: relative; padding-bottom: 0px;}
    @include mq(md) { display: inline-block; position: relative; padding-bottom: 0px;}
    @include mq(lg) { display: inline-block; position: relative; padding-bottom: 0px;}
    @include mq(xl) { display: inline-block; position: relative; padding-bottom: 0px;}
}

.sliding-middle-out:after {
    @include mq(ip) {content: ''; display: block; margin: auto; height: 1px; width: 0px; background: transparent; transition: width .7s ease, background-color .9s ease;}
    @include mq(xs) {content: ''; display: block; margin: auto; height: 1px; width: 0px; background: transparent; transition: width .7s ease, background-color .9s ease;}
    @include mq(sm) {content: ''; display: block; margin: auto; height: 1px; width: 0px; background: transparent; transition: width .7s ease, background-color .9s ease;}
    @include mq(md) {content: ''; display: block; margin: auto; height: 1px; width: 0px; background: transparent; transition: width .7s ease, background-color .9s ease;}
    @include mq(lg) {content: ''; display: block; margin: auto; height: 1px; width: 0px; background: transparent; transition: width .7s ease, background-color .9s ease;}
    @include mq(xl) {content: ''; display: block; margin: auto; height: 1px; width: 0px; background: transparent; transition: width .7s ease, background-color .9s ease;}
}

/* nbm disable
.sliding-middle-out:hover:after {
    @include mq(ip) { width: 100%; background:$primary-color;}
    @include mq(xs) { width: 100%; background:$primary-color;}
    @include mq(sm) { @include nav-item-width(100%, 30px); background:$primary-color;}
    @include mq(md) { @include nav-item-width(100%, 30px); background:$primary-color;}
    @include mq(lg) { @include nav-item-width(100%, 30px); background:$primary-color;}
    @include mq(xl) { @include nav-item-width(100%, 30px); background:$primary-color;}
}

*/

/*hover zoom CSS3 animations*/
.zoomin { 
    scale: (1);
    -moz-transform:scale(1); 
    -webkit-transform:scale(1);
    -o-transform:scale(1);
    -webkit-backface-visibility: hidden;
     -webkit-transition: all 2s ease; -moz-transition: all 2s ease; -ms-transition: all 2s ease; transition: all 2s ease; 
} 

.zoomin:hover { 
    -webkit-backface-visibility: hidden;
    scale: (1.05);
    -moz-transform:scale(1.05); 
    -webkit-transform:scale(1.05);
    -o-transform:scale(1.05);
}  



/*hover zoom CSS3 animations*/
.zoomin { 
    scale: (1);
    -moz-transform:scale(1); 
    -webkit-transform:scale(1);
    -o-transform:scale(1);
    -webkit-backface-visibility: hidden;
     -webkit-transition: all 2s ease; -moz-transition: all 2s ease; -ms-transition: all 2s ease; transition: all 2s ease; 

} 

.zoomin:hover { 
    -webkit-backface-visibility: hidden;
    scale: (1.05);
    -moz-transform:scale(1.05); 
    -webkit-transform:scale(1.05);
    -o-transform:scale(1.05);

}  

/*fading CSS3 animations*/

/*GAP*/
.fade1secs {   
    -webkit-animation: myfade 2s ; /* Chrome, Safari, Opera */
    -webkit-animation-delay: 0.5s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    -webkit-opacity:0;
    animation: myfade 2s initial ease;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-opacity: 0;     

}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfade {
    from {opacity:0;}
    to {opacity:1;}
}

@keyframes myfade {
    from {opacity:0;}
    to {opacity:1;}
}

@-ms-keyframes myfade{
    from {opacity:0;}
    to {opacity:1;}
}


.fade2secs {   
    -webkit-animation: myfade 2s ; /* Chrome, Safari, Opera */
    -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation: myfade 2s initial ease;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    -webkit-opacity:0;
    animation-opacity: 0;   
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfade {
    from {opacity:0;}
    to {opacity:1;}
}

@keyframes myfade {
    from {opacity:0;}
    to {opacity:1;}
}

@-ms-keyframes myfade{
    from {opacity:0;}
    to {opacity:1;}
}



.fade3secs {   
    -webkit-animation: myfade 2s ; /* Chrome, Safari, Opera */
    -webkit-animation-delay: 1.5s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation: myfade 2s initial ease;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    -webkit-opacity:0;
    animation-opacity: 0;   
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfade {
    from {opacity:0;}
    to {opacity:1;}
}

@keyframes myfade {
    from {opacity:0;}
    to {opacity:1;}
}

@-ms-keyframes myfade{
    from {opacity:0;}
    to {opacity:1;}
}

.fade4secs {   
    -webkit-animation: myfade 4s ; /* Chrome, Safari, Opera */
    -webkit-animation-delay: 1.5s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation: myfade 4s initial ease;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    -webkit-opacity:0;
    animation-opacity: 0;   
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfade {
    from {opacity:0;}
    to {opacity:1;}
}

@keyframes myfade {
    from {opacity:0;}
    to {opacity:1;}
}


/*END GAP FADES*/


/*MDI*/


.fade1secs2 {   
    -webkit-animation: myfade 2s ; /* Chrome, Safari, Opera */
    -webkit-animation-delay: 3s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation: myfade 2s initial ease;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    -webkit-opacity:0;
    animation-opacity: 0;   
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfade {
    from {opacity:0;}
    to {opacity:1;}
}

@keyframes myfade {
    from {opacity:0;}
    to {opacity:1;}
}




.fade2secs2 {   
    -webkit-animation: myfade 2s ; /* Chrome, Safari, Opera */
    -webkit-animation-delay: 3.5s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation: myfade 2s initial ease;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
    -webkit-opacity:0;
    animation-opacity: 0;   
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfade {
    from {opacity:0;}
    to {opacity:1;}
}

@keyframes myfade {
    from {opacity:0;}
    to {opacity:1;}
}



.fade3secs2 {   
    -webkit-animation: myfade 2s ; /* Chrome, Safari, Opera */
    -webkit-animation-delay: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation: myfade 2s initial ease;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    -webkit-opacity:0;
    animation-opacity: 0;   
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfade {
    from {opacity:0;}
    to {opacity:1;}
}

@keyframes myfade {
    from {opacity:0;}
    to {opacity:1;}
}


.fade4secs2 {   
    -webkit-animation: myfade 4s ; /* Chrome, Safari, Opera */
    -webkit-animation-delay: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation: myfade 4s initial ease;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    -webkit-opacity:0;
    animation-opacity: 0;   
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfade {
    from {opacity:0;}
    to {opacity:1;}
}

@keyframes myfade {
    from {opacity:0;}
    to {opacity:1;}
}

/*END MDI FADES*/




/*AWI*/


.fade1secs3 {   
    -webkit-animation: myfade 2s ; /* Chrome, Safari, Opera */
    -webkit-animation-delay: 5.5s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation: myfade 2s initial ease;
    animation-delay: 5.5s;
    animation-fill-mode: forwards;
    -webkit-opacity:0;
    animation-opacity: 0;   
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfade {
    from {opacity:0;}
    to {opacity:1;}
}

@keyframes myfade {
    from {opacity:0;}
    to {opacity:1;}
}




.fade2secs3 {   
    -webkit-animation: myfade 2s ; /* Chrome, Safari, Opera */
    -webkit-animation-delay: 6s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation: myfade 2s initial ease;
    animation-delay: 6s;
    animation-fill-mode: forwards;
    -webkit-opacity:0;
    animation-opacity: 0;   
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfade {
    from {opacity:0;}
    to {opacity:1;}
}

@keyframes myfade {
    from {opacity:0;}
    to {opacity:1;}
}



.fade3secs3 {   
    -webkit-animation: myfade 2s ; /* Chrome, Safari, Opera */
    -webkit-animation-delay: 6.5s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation: myfade 2s initial ease;
    animation-delay: 6.5s;
    animation-fill-mode: forwards;
    -webkit-opacity:0;
    animation-opacity: 0;   
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfade {
    from {opacity:0;}
    to {opacity:1;}
}

@keyframes myfade {
    from {opacity:0;}
    to {opacity:1;}
}


.fade4secs3 {   
    -webkit-animation: myfade 4s ; /* Chrome, Safari, Opera */
    -webkit-animation-delay: 6.5s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation: myfade 4s initial ease;
    animation-delay: 6.5s;
    animation-fill-mode: forwards;
    -webkit-opacity:0;
    animation-opacity: 0;   
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfade {
    from {opacity:0;}
    to {opacity:1;}
}

@keyframes myfade {
    from {opacity:0;}
    to {opacity:1;}
}

/*END AWI FADES*/




// Animated checkmark, tick for password reset / @import "bourbon";

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: $success-color;
  fill: none;
  animation: stroke .6s $curve forwards;
}

.checkmark {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: $success-color;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px $success-color;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke .3s $curve .8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px $background-color;
  }
}