// Mixins
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin border-radius($radius:0px) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}


@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin mq($breakpoint) {
  $mq-ip: "(min-width: 320px)";
  $mq-xs: "(min-width: 375px) and (max-width: 767px)";
  $mq-sm: "(min-width: 768px) and (max-width: 991px)";
  $mq-md: "(min-width: 992px) and (max-width: 1199px)";
  $mq-lg: "(min-width: 1200px) and (max-width: 1600px)";
  $mq-xl: "(min-width: 1601px)";
    @if $breakpoint == ip {
      @media #{$mq-ip} { @content; }
    }
    @if $breakpoint == xs {
      @media #{$mq-xs} { @content; }
    }
    @else if $breakpoint == sm {
      @media #{$mq-sm} { @content; }
    }
    @else if $breakpoint == md {
      @media #{$mq-md}  { @content; }
    }
    @else if $breakpoint == lg {
      @media #{$mq-lg}  { @content; }
    }
    @else if $breakpoint == xl {
      @media #{$mq-xl}  { @content; }
    }
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

