
// Desktop

.navbar-nav {
    float: right;

}

.navbar-default {
    background: rgba(255, 255, 255, 0.96);

}

.navbar-nav {
    text-transform: uppercase;    
    @include mq(lg) { padding: 15px 0 0 0; } // position vertically with logo
    @include mq(xl) { padding: 15px 0 0 0; } 
}



.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 100vh; // Overide BS max-height: 340px on smaller screens.


}

// 1st Level Active
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: transparent;
    color: $primary-color;

}

.menu-item-has-children .open {

}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent; border-bottom: 4px solid $primary-color;
}

// Second Level Menu Mobile

.dropdown-menu {
    // background-color: $complimentary-color;
    text-transform: none;
    padding: 0;
    border-radius: $default-border-radius;
    
    width:100%;

    box-shadow: none;
    margin-bottom: 25px;
            @include mq(ip) { position: relative; background-color: transparent;}
            @include mq(xs) { position: relative; background-color: transparent;}
            @include mq(sm) { position: relative; background-color: transparent;}
            @include mq(md) { position: relative; background-color: transparent;}
            @include mq(lg) { position: absolute; background-color: $background-color;}
            @include mq(xl) { position: absolute; background-color: $background-color;}
}

.dropdown-toggle {

}

.nav>li>a{
        @include mq(ip) { padding: 2em ; background-color: transparent}
        @include mq(xs) { padding: 2em ; background-color: transparent}
        @include mq(sm) { padding: 2em ; background-color: transparent}
        @include mq(md) { padding: 2em ; background-color: transparent;}
        @include mq(lg) { padding: 2em ; background-color: transparent;}  // Desktop

}


.navbar-nav .open .dropdown-menu>li>a {
    @include mq(ip) { padding: 2em 2em 2em 4em;}
    @include mq(xs) { padding: 2em 2em 2em 4em;}
    @include mq(sm) { padding: 2em 2em 2em 4em;}
    @include mq(md) { padding: 2em 2em 2em 4em;}
    @include mq(lg) { padding:  1em 2em;}
    @include mq(xl) { padding:  1em 2em;}
}

    
.caret {
    margin-left: 15px;
}


.dropdown-menu>li>a {
    color: $primary-color;
    line-height: 32px;
    border-top: 1px solid $gray-lighter;
}

.dropdown-menu>li:first-child>a {
    border-top: none;
} 

.dropdown-menu>li>a:hover {
    background-color: $primary-color;
    color: $background-color;
        @include mq(sm) { background-color: $primary-color; color: $background-color;}
}

// overide wordpress-bootstrap-master
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    background-color: $primary-color;
    color: $background-color;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:active, 
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover {
    color: $primary-color;
}

// Mobile Menu Toggle

.navbar-toggle {
    border: 0px solid transparent;
    border-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
 }

.navbar-default .navbar-toggle {
    color: $primary-color;
}


/////////////////////////////////////////////////////////////////////////// END Navigation


// finish




.navbar-toggle {
    margin: 25px 0 15px 0;
              @include mq(xs) { margin: 30px 19px 15px 0;}
              @include mq(sm) { margin: 30px 4px 15px 0; } // Align hamburgers with search icon
              @include mq(md) { margin: 30px 3px 15px 0;}
              @include mq(lg) { margin: 30px 0 15px 0;}

}



// Animate Hamburgers

.navbar {
    .navbar-toggle {
        &:hover, &:focus {
            background-color: transparent;  
        }
        &.collapsed {
            .icon-bar {
                background-color: $gray-dark;
                &:nth-of-type(1) {
                    transform: rotate(0deg);
                    top: 0;
                }
                &:nth-of-type(2) {
                    opacity: 1;
                    width: 100%;
                    margin-left: 0;
                }
                &:nth-of-type(3) {
                    transform: rotate(0deg);
                    bottom: 0;
                }
            }
        }
        .icon-bar {
            position: relative;
            transition: all 500ms ease-in-out;
            background-color: $brand-color-keline;
            
            &:nth-of-type(1) {
                transform: rotate(45deg);
                top: 6px;
            }
            &:nth-of-type(2) {
                opacity: 0;
                width: 0;
                margin-left: 50%;
            }
            &:nth-of-type(3) {
                transform: rotate(-45deg);
                bottom: 6px;
            }
        }
    }

}

// END Animate Hamburgers
