// https://codepen.io/keithclark/pen/JycFw

html {
  height: 100%;
  overflow: hidden;
}

body { 
  margin:0;
  padding:0;
	perspective: 1px;
	transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  transform: translateZ(0);  
}

.parallaxSlide {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  //box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
	transform-style: inherit;
}

.parallaxSlide { // preserve other images by nesting in parallaxSlide
    img {
      position: absolute;
      top: 50%;
      left: 35%;
      width: 320px;
      height: 240px;
      transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
     //  -webkit-transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg); /* Safari */

      padding: 10px;
      border-radius: $default-border-radius;
      background: rgba(255,255,255, 1);
      box-shadow: 0 0 8px rgba(0, 0, 0, .7);


      //z-index:-99;
    }

    img:last-of-type {
      transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);

      //z-index:-99;
    }


}

.parallaxSlide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}


.enableLinks {
    position: relative;

}


.titleParallax {
  width: 50%;
  padding: 5%;
  border-radius: $default-border-radius;
  background: rgba(255,255,255, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.parallaxSlide:nth-child(2n) .titleParallax {
  margin-left: 0;
  margin-right: auto;
}

.parallaxSlide:nth-child(2n+1) .titleParallax {
  margin-left: auto;
  margin-right: 0;
}

.parallaxSlide, .parallaxSlide:before {
  background: 50% 50% / cover;  
}

.parallaxSlideHeader { // :not(.a.btn)
  //text-align: center;
  //font-size: 175%;
  // color: #fff;
  text-shadow: 0 2px 2px #000;
}

#title {
  background-image: url("images/parallax/view-from-dashwood-hs_50tint.jpg");
   background-attachment: fixed;  
}

#parallaxSlide1:before { // changed to -2px from -1
  background-image: url("images/parallax/parallaxSlide1.jpg");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#parallaxSlide2 {
  background-image: url("images/parallax/parallaxSlide2.jpg");
  background-attachment: fixed;
}

#parallaxSlide3:before {
  background-image: url("images/parallax/parallaxSlide3.jpg");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#parallaxSlide4 {
  background: #222;
}