///////////////////////////////////////////////////////////////////////////  Brand Colour Pallete - Row Tints

// All Row Styles

.brandBase {
	padding-top: 10vh; // Set all rowe padding here
	padding-bottom: 13vh;


	a  {
		color: $white;
		text-decoration: none;
		// border-bottom: 2px solid; 
		//border-color: inherit;

	}

	a:hover {
		// border-color: inherit;
		//border:none;
	}
	a.btn {
		text-decoration: none;
		color: $brand-color;
	}
	a.btn:hover {
		color: $white;

	}

	input, input:focus {
		//border-color: inherit;
		// border-width: 2px;
		border: 2px solid inherit;

	}
}




// Basics

.negative {
	background-color: $black;
	color: $white;

}

.row.negative{
	@extend .brandBase;
	@extend .negative;
}

.positive {
	@extend .brandBase;
	background-color: $background-color;
	color: $foreground-color;

	a {
		color: $brand-color;
	}

	a:hover {
		color: $gray-light;
		text-decoration: none;
	}

	.btn-default:hover  {
		border: 2px solid transparent;
	}
	
	.btn-default:focus  {
		color:  $white;
	}

}
.row.positive {
	@extend .brandBase;
	@extend .positive;
}

.brand-color {	
	background-color: $brand-color;
	color: $white;
}

// Brand Tints


.brandRow {
	@extend .brandBase;
	@extend .brand-color;

	a, a:hover {
		color: $brandCol-lightest;
		
	}
	p>a:hover{ text-decoration: underline; color: $brandCol-light; } 
	.btn:hover {  text-decoration: none; text-shadow: none; }

	a.btn-primary, .btn.btn-primary{	
		color: $white;
		border: 2px solid  $white;
	}

	.btn-primary:hover, .btn.btn-primary:hover {
		background-color: $white;
		color: $brand-color;
	}

	.btn-default {
		border-color: $brandCol-darker;
		color: $brandCol-darker;
	}
	.btn-default:hover  {
		background-color: $brandCol-darker;
		color: $brand-color;
	}
	.btn-default:focus {
				color: $brand-color;

	}

	.ginput_container select {
		//color: inherit;
	}



}


.brandLight {
	@extend .brandBase;
	background-color: $brandCol-light;
	color: $white;

}

.brandLighter {
	@extend .brandBase;
	background-color: $brandCol-lighter;
	color: $white;

}

.brandLightest {
	@extend .brandBase;
	background-color: $brandCol-lightest;
	color: $white;

}


.brandDark {
	@extend .brandBase;
	background-color: $brandCol-dark;
	color: $white;
}

.brandDarker {
	@extend .brandBase;
	background-color: $brandCol-darker;
	color: $white;
}

.brandDarkest {
	@extend .brandBase;
	background-color: $brandCol-darkest;
	color: $gray-darker;
}



// Blue/Grey

.brandComp-darkest {
	background-color: $brandComp-darkest;
	color:  $brandComp-lightest;
	
}

.row.brandComp-darkest {
	@extend .brandBase;
	@extend .brandBase;

	}

.brandComp-darker {
	@extend .brandBase;
	background-color: $brandComp-darker;
	color: $white;

}
.brandComp-dark {
	@extend .brandBase; 
	background-color: $brandComp-dark;
	color: $white;


}
.brandComp {
	@extend .brandBase;
	background-color: $brandComp-base;
	color: $white;
	a:hover, .btn-primary  { border-color:$brandCol-lighter; color: inherit;}

}


.brandComp-light {
	@extend .brandBase;
	background-color: $brandComp-light;
	color: $white;
}

.brandComp-lighter {
	@extend .brandBase;
	background-color: $brandComp-lighter;
	//color: $brandCol-darkest;

}

.brandComp-lightest {
	@extend .brandBase;
	background-color: $brandComp-lightest;
	color: $brandComp-darkest;
		a {
		color: $brand-color;
	}
}


/// Accordian Panels

.productAccordian {
    #accordion.panel-group, .panel-info {  margin-bottom:0; border: 0; box-shadow: none;
    }
}



