
// Specific Styling for the Global site search in the header


#search-form { 
  float: right;
  //border: 1px solid red;
  // Styling
      @include mq(xs) { margin: 40px 0;}
      @include mq(sm) { margin: 40px 0;}
      @include mq(md) { margin: 40px 0; width: 100%;}
      @include mq(lg) { margin: 20px 0 0; width: 20%; display: inline-block; float: right;}
      @include mq(xl) { margin: 20px 0 0; max-width: 25%; display: inline-block; float: right;}


      fieldset { 
        margin: 0; padding: 0 0 1em 0; border: 0;
      }

      // Style Search input & match button
      input#search, button.btn.btn-default.btn-lg {
            background-color: transparent;
            border: none;
            box-shadow: none;
            background-image: none;
            -webkit-box-shadow: none;
         }

      input#search {

            padding: $input-padding;  
            @include mq(xs) { vertical-align:top; margin-bottom: 20px;}
            @include mq(sm) { vertical-align:top;}
            @include mq(md) { vertical-align:top;}


                @include placeholder {
                  //color: $gray;
                  font-size: 16px;
                  padding-top:2px;
                 }

        }  

        .input-group {

          .input-group-addon, .input-group-btn {

                button {
                  border: $input-border;
                  padding: $btn-padding;


                }

                button:hover.btn.btn-default.btn-lg{
                  color: $primary-color;

                }


            } 

        }
          

      // End Styling
          


}

