
body {
	
	    @include mq(ip) {padding-top: 50px;}
	    @include mq(xs) {padding-top: 50px;}
	    @include mq(sm) {padding-top: 50px;}
	    @include mq(md) {padding-top: 84px;}
	    @include mq(lg) {padding-top: 88px;}
	    @include mq(xl) {padding-top: 90px;}


/////////////////////////////////////////////////////////////////////////// Brand

// 

/////////////////////////////////////////////////////////////////////////// Navigation

// See _navigation.scss


//////////////////////////////// Row Magic

/* section {
    @include make-row();
    article {
        @include make-lg-column(2);
    }
}*/

.flush {
		// margin-left: -15px;
		// margin-right: -15px;
		padding-left: 0px;
		padding-right: 0px;
	}

.row.justPad, .justPad {
  @include mq(ip) {padding-top: 1em; padding-bottom: 1em;}
  @include mq(xs) {padding-top: 1em; padding-bottom: 1em;}
  @include mq(sm) {padding-top: 1em; padding-bottom: 1em;}
  @include mq(md) {padding-top: 2em; padding-bottom: 2em;}
  @include mq(lg) {padding-top: 2em; padding-bottom: 2em;}
  @include mq(xl) {padding-top: 2em; padding-bottom: 2em;}
}	
.bsPad {
	padding: 15px 0;

}

.stripe {
	background-color: #f9f9f9;
}



}	



