// Typography

	body {

		font-family: $font-family-body;
		p {
		line-height: 1.8em;
		margin: 0 0 1.6em;
		font-size: $default-paragraph-size;
		font-weight: 300;
		}
	}
	// Navigation	
	.navbar-nav {
		font-family: $font-family-headings;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	
	
	p.lead { 
	    @include mq(ip) {font-size: 1.6em;}
	    @include mq(xs) {font-size: 1.8em;}
	    @include mq(sm) {font-size: 1.8em;}
	    @include mq(md) {font-size: 2em;}
	    @include mq(lg) {font-size: 2.2em}
	    @include mq(xl) {font-size: 2.6em;}

		}

	h1 {
	font-family: $font-family-headings;
	    @include mq(ip) {font-size: 2.8em;}
	    @include mq(xs) {font-size: 3.2em;}
	    @include mq(sm) {font-size: 3.4em;}
	    @include mq(md) {font-size: 3.8em;}
	    @include mq(lg) {font-size: 6em;}
	    @include mq(xl) {font-size: 8em;}

	}

	h2 {
	    @include mq(ip) {font-size: 2em;}
	    @include mq(xs) {font-size: 2em;}
	    @include mq(sm) {font-size: 2em;}
	    @include mq(md) {font-size: 2.2em;}
	    @include mq(lg) {font-size: 3.2em;}
	    @include mq(xl) {font-size: 4em;}

	}

	h2, h3, h4 {
	font-family: $font-family-headings;
	}

	h3, h6 {
		text-transform: uppercase;
	}

	p {
		font-family: $font-family-body;
	}

	blockquote {
	font-family: $font-family-headings;
	font-size: 1.8em;
	border-left: none;
	padding-left: 0;
	font-weight: normal;
	}

	.nopadding-list {
	  list-style: none;
	  padding: 0;
	  margin: 0;
	}



    .panel-header {
    	min-height: 100px;
	}



	h2.badge  {
			font-size: 30px;
			border-radius: $default-border-radius;
			margin-top: 0;
			display: block;
			border: 4px solid transparent;
			background-color: $brandCol-base;

		    @include mq(ip) { padding: 0.5em;  display: block; width: 100%;}
		    @include mq(xs) { padding: 0.5em;  display: block; width: 100%;}
		    @include mq(sm) { padding: 0.5em;  }
		    @include mq(md) { padding: 0.75em;  }
		    @include mq(lg) { padding: 0.75em }
		    @include mq(xl) { padding: 0.75em}

	    }

	    h2.badge.reg {
			font-weight: 500;
			letter-spacing:2px;
			background-color: #ffd926;
			color: black;
			border-radius: 2px;
			border: 4px solid black;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			@include box-shadow (0px, 1px, 4px, $gray-light, false);

	    }
	    h2.badge {

	    }


