.bootstrap-datetimepicker-widget .dropdown-menu {
		background-color: $background-color;
}

// _ui.bootstrap.datepickerPopup D2C Mods ///////////////////////////////////////////////

label.btn-info.toggleCheckbox.active, label.btn-info.toggleCheckbox.active:focus, .btn-info:active {
	background-color: $primary-color;
}

.btn .btn-default .btn-sm .btn-info .active, .btn .btn-default .btn-sm {
	background-color: $primary-color;
}

.uib-datepicker-current {
	border: 1px solid $primary-color;
}

.uib-title {
	background-color: $background-color;
}


// Flatten calendar day focus
.btn-info:active, .btn-info:active:hover, .btn-info:active:focus, .btn-info:active.focus, .btn-info.active:hover, .btn-info.active:focus, .btn-info.active.focus, .open > .btn-info.dropdown-toggle:hover, .open > .btn-info.dropdown-toggle:focus, .open > .btn-info.dropdown-toggle.focus {
  background-color: $primary-color;
  box-shadow: none;
  -webkit-box-shadow: none;
}

// Flatten active calendar day 
.btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
	color: white;
	background-color: $primary-color;
	border-color: $primary-color;
}

.btn-info {
	color: white;
	border-radius: 0;
}

.btn .btn-sm .btn-danger .uib-clear {
	border-left: none;
}

.btn-sm, .btn-group-sm > .btn {
	background-color: $background-color;
	padding: 5px 10px 10px;
}

.btn .btn-sm .btn-info .uib-datepicker-current .ng-binding {
	background-color: $background-color;
	border-color: $primary-color;
	color: $foreground-color;
}


.btn-default.disabled, .btn-primary.disabled {
	background-color: $background-color;
	border-color: $default-color;
	color: $default-color;
	border: 2px solid $default-color;
	cursor: not-allowed;
}

.btn-group {
	border-radius:0;
	}




